.ariadnes-blessing-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.ariadnes-blessing-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  background-color: var(--dl-color-gray-800);
}
.ariadnes-blessing-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.ariadnes-blessing-links {
  gap: var(--dl-space-space-fourunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.ariadnes-blessing-navlink {
  border-color: var(--dl-color-gray-700);
  border-style: solid;
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.ariadnes-blessing-navlink1 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.ariadnes-blessing-navlink2 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.ariadnes-blessing-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.ariadnes-blessing-burger-menu {
  display: none;
}
.ariadnes-blessing-icon {
  width: 16px;
  height: 16px;
}
.ariadnes-blessing-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.ariadnes-blessing-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ariadnes-blessing-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.ariadnes-blessing-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ariadnes-blessing-icon2 {
  width: 16px;
  height: 16px;
}
.ariadnes-blessing-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.ariadnes-blessing-navlink3 {
  border-color: var(--dl-color-gray-700);
  border-style: solid;
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.ariadnes-blessing-navlink4 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.ariadnes-blessing-navlink5 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.ariadnes-blessing-buttons1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.ariadnes-blessing-container1 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-tenunits);
  flex-direction: column;
}
.ariadnes-blessing-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ariadnes-blessing-text18 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 64px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.ariadnes-blessing-text19 {
  font-size: 18px;
  align-self: center;
  text-align: center;
  font-weight: 700;
}
.ariadnes-blessing-container3 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.ariadnes-blessing-text20 {
  font-size: 24px;
  align-self: center;
  text-align: left;
}
.ariadnes-blessing-container4 {
  gap: var(--dl-space-space-tenunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ariadnes-blessing-container5 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ariadnes-blessing-container6 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  justify-content: center;
}
.ariadnes-blessing-container7 {
  flex: 0 0 auto;
  width: 120px;
  height: 120px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.ariadnes-blessing-link {
  display: contents;
}
.ariadnes-blessing-image {
  width: 100px;
  align-self: center;
  object-fit: cover;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.ariadnes-blessing-text23 {
  align-self: center;
  text-align: center;
}
.ariadnes-blessing-container8 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.ariadnes-blessing-text24 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.ariadnes-blessing-text25 {
  width: auto;
  font-size: 24px;
  align-self: center;
}
.ariadnes-blessing-text26 {
  font-weight: bold;
}
.ariadnes-blessing-text30 {
  font-weight: bold;
}
.ariadnes-blessing-text34 {
  font-weight: 700;
}
@media(max-width: 767px) {
  .ariadnes-blessing-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .ariadnes-blessing-desktop-menu {
    display: none;
  }
  .ariadnes-blessing-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ariadnes-blessing-links1 {
    gap: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .ariadnes-blessing-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .ariadnes-blessing-mobile-menu {
    padding: 16px;
  }
  .ariadnes-blessing-text18 {
    height: auto;
  }
  .ariadnes-blessing-text24 {
    height: auto;
  }
}
