.bit-boxers-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.bit-boxers-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  background-color: var(--dl-color-gray-800);
}
.bit-boxers-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.bit-boxers-links {
  gap: var(--dl-space-space-fourunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.bit-boxers-navlink {
  border-color: var(--dl-color-gray-700);
  border-style: solid;
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.bit-boxers-navlink1 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.bit-boxers-navlink2 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.bit-boxers-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.bit-boxers-burger-menu {
  display: none;
}
.bit-boxers-icon {
  width: 16px;
  height: 16px;
}
.bit-boxers-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.bit-boxers-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.bit-boxers-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.bit-boxers-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bit-boxers-icon2 {
  width: 16px;
  height: 16px;
}
.bit-boxers-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.bit-boxers-navlink3 {
  border-color: var(--dl-color-gray-700);
  border-style: solid;
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.bit-boxers-navlink4 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.bit-boxers-navlink5 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.bit-boxers-buttons1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.bit-boxers-container1 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-tenunits);
  flex-direction: column;
}
.bit-boxers-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.bit-boxers-text18 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 64px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.bit-boxers-text19 {
  font-size: 18px;
  align-self: center;
  font-weight: 700;
}
.bit-boxers-container3 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.bit-boxers-text20 {
  font-size: 24px;
  align-self: center;
}
.bit-boxers-container4 {
  gap: var(--dl-space-space-tenunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bit-boxers-container5 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.bit-boxers-text23 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.bit-boxers-iframe {
  width: 520px;
  height: 300;
}
.bit-boxers-container6 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.bit-boxers-text24 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.bit-boxers-text25 {
  width: auto;
  font-size: 24px;
  align-self: center;
}
.bit-boxers-text26 {
  font-weight: 700;
}
.bit-boxers-text30 {
  font-weight: 700;
}
.bit-boxers-text34 {
  font-weight: 700;
}
.bit-boxers-container7 {
  flex: 0 0 auto;
  width: 60%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.bit-boxers-image {
  width: 100%;
  align-self: center;
  object-fit: cover;
}
.bit-boxers-text37 {
  align-self: center;
}
.bit-boxers-container8 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.bit-boxers-text38 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.bit-boxers-text39 {
  width: auto;
  font-size: 24px;
  align-self: center;
}
@media(max-width: 767px) {
  .bit-boxers-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .bit-boxers-desktop-menu {
    display: none;
  }
  .bit-boxers-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bit-boxers-links1 {
    gap: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .bit-boxers-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .bit-boxers-mobile-menu {
    padding: 16px;
  }
  .bit-boxers-text18 {
    height: auto;
  }
  .bit-boxers-text23 {
    height: auto;
  }
  .bit-boxers-text24 {
    height: auto;
  }
  .bit-boxers-text38 {
    height: auto;
  }
}
