.bow-game-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.bow-game-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  background-color: var(--dl-color-gray-800);
}
.bow-game-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.bow-game-links {
  gap: var(--dl-space-space-fourunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.bow-game-navlink {
  border-color: var(--dl-color-gray-700);
  border-style: solid;
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.bow-game-navlink1 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.bow-game-navlink2 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.bow-game-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.bow-game-burger-menu {
  display: none;
}
.bow-game-icon {
  width: 16px;
  height: 16px;
}
.bow-game-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.bow-game-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.bow-game-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.bow-game-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bow-game-icon2 {
  width: 16px;
  height: 16px;
}
.bow-game-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.bow-game-navlink3 {
  border-color: var(--dl-color-gray-700);
  border-style: solid;
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.bow-game-navlink4 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.bow-game-navlink5 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.bow-game-buttons1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.bow-game-container1 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-tenunits);
  flex-direction: column;
}
.bow-game-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.bow-game-text18 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 64px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.bow-game-text19 {
  font-size: 18px;
  align-self: center;
  text-align: center;
  font-weight: 700;
}
.bow-game-container3 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.bow-game-text20 {
  font-size: 24px;
  align-self: center;
}
.bow-game-container4 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.bow-game-text23 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.bow-game-iframe {
  width: 520px;
  height: 300;
}
.bow-game-container5 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.bow-game-text24 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.bow-game-text25 {
  width: auto;
  font-size: 24px;
  align-self: center;
}
.bow-game-text26 {
  font-weight: 700;
}
.bow-game-text30 {
  font-weight: 700;
}
@media(max-width: 767px) {
  .bow-game-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .bow-game-desktop-menu {
    display: none;
  }
  .bow-game-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bow-game-links1 {
    gap: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .bow-game-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .bow-game-mobile-menu {
    padding: 16px;
  }
  .bow-game-text18 {
    height: auto;
  }
  .bow-game-text23 {
    height: auto;
  }
  .bow-game-text24 {
    height: auto;
  }
}
