.tbdne-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.tbdne-blog-post-card:hover {
  transform: scale(1.02);
}
.tbdne-container {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.tbdne-text {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.tbdne-text1 {
  font-style: italic;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.tbdne-text2 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: 32px;
}
.tbdne-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  column-gap: var(--dl-space-space-fiveunits);
  align-items: center;
  justify-content: flex-start;
}
.tbdne-link {
  display: contents;
}
.tbdne-image {
  width: 60px;
  object-fit: cover;
  text-decoration: none;
}
.tbdne-root-class-name {
  height: 500px;
}
.tbdne-root-class-name1 {
  height: 500px;
}






.tbdne2-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.tbdne2-container1 {
  gap: var(--dl-space-space-doubleunit);
  flex: 1;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.tbdne2-text {
  color: var(--dl-color-gray-700);
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.tbdne2-text1 {
  align-self: center;
  text-align: center;
}
.tbdne2-image {
  flex: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tbdne2-root-class-name {
  width: auto;
  height: 350px;
}
.tbdne2-root-class-name1 {
  width: auto;
  height: 350px;
}

.tbdne2b-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.tbdne2b-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 1;
  width: inherit;
  display: inherit;
  align-self: inherit;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.tbdne2b-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.tbdne2b-container3 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.tbdne2b-container4 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tbdne2b-text {
  color: var(--dl-color-gray-700);
  font-size: 30px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Nunito;
  font-weight: 900;
}
.tbdne2b-text01 {
  font-size: 18px;
  align-self: flex-start;
  font-style: italic;
  font-weight: 400;
}
.tbdne2b-text02 {
  font-size: 18px;
  align-self: flex-start;
  text-align: left;
}
.tbdne2b-text03 {
  font-size: 24px;
  align-self: flex-start;
  text-align: left;
}
.tbdne2b-text04 {
  font-size: 18px;
  align-self: flex-start;
}
.tbdne2b-link {
  display: contents;
}
.tbdne2b-image {
  width: 60px;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.tbdne2b-container5 {
  gap: var(--dl-space-space-doubleunit);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tbdne2b-image1 {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.tbdne2b-container6 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tbdne2b-image2 {
  flex: 1;
  height: 300px;
  align-self: center;
  object-fit: inherit;
}
.tbdne2b-text13 {
  align-self: center;
}



.rush-rush-vr-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.rush-rush-vr-container1 {
  gap: var(--dl-space-space-doubleunit);
  flex: 1;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.rush-rush-vr-text {
  color: var(--dl-color-gray-700);
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.rush-rush-vr-text1 {
  align-self: center;
  text-align: center;
}
.rush-rush-vr-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rush-rush-vr-root-class-name {
  height: 350px;
}

.rush-rush-vrb-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.rush-rush-vrb-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 1;
  width: inherit;
  display: inherit;
  align-self: inherit;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.rush-rush-vrb-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.rush-rush-vrb-container3 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.rush-rush-vrb-container4 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.rush-rush-vrb-text {
  color: var(--dl-color-gray-700);
  font-size: 30px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Nunito;
  font-weight: 900;
}
.rush-rush-vrb-text01 {
  font-size: 18px;
  align-self: flex-start;
  font-style: italic;
  font-weight: 400;
}
.rush-rush-vrb-text02 {
  font-size: 18px;
  align-self: flex-start;
  text-align: left;
}
.rush-rush-vrb-text03 {
  font-size: 24px;
  align-self: flex-start;
  text-align: left;
}
.rush-rush-vrb-text04 {
  font-size: 18px;
  align-self: flex-start;
}
.rush-rush-vrb-link {
  display: contents;
}
.rush-rush-vrb-image {
  width: 60px;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.rush-rush-vrb-container5 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.rush-rush-vrb-iframe {
  width: 480px;
  height: 300px;
}
.rush-rush-vrb-image1 {
  width: 480px;
  object-fit: cover;
}


.lab-echo-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.lab-echo-container1 {
  gap: var(--dl-space-space-doubleunit);
  flex: 1;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.lab-echo-text {
  color: var(--dl-color-gray-700);
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.lab-echo-text1 {
  align-self: center;
  text-align: center;
}
.lab-echo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lab-echo-root-class-name {
  height: 350px;
}

.lab-echob-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.lab-echob-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 1;
  width: inherit;
  display: inherit;
  align-self: inherit;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.lab-echob-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.lab-echob-container3 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.lab-echob-container4 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lab-echob-text {
  color: var(--dl-color-gray-700);
  font-size: 30px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Nunito;
  font-weight: 900;
}
.lab-echob-text01 {
  font-size: 18px;
  align-self: flex-start;
  font-style: italic;
  font-weight: 400;
}
.lab-echob-text02 {
  font-size: 18px;
  align-self: flex-start;
  text-align: left;
}
.lab-echob-text03 {
  font-size: 24px;
  align-self: flex-start;
  text-align: left;
}
.lab-echob-text04 {
  font-size: 18px;
  align-self: flex-start;
}
.lab-echob-link {
  display: contents;
}
.lab-echob-image {
  width: 60px;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.lab-echob-container5 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.lab-echob-iframe {
  width: 480px;
  height: 300px;
}
.lab-echob-image1 {
  width: 480px;
  object-fit: cover;
}


.bit-boxers-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.bit-boxers-container1 {
  gap: var(--dl-space-space-doubleunit);
  flex: 1;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.bit-boxers-text {
  color: var(--dl-color-gray-700);
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.bit-boxers-text1 {
  align-self: center;
  text-align: center;
}
.bit-boxers-image {
  flex: 1;
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.bit-boxers-root-class-name {
  height: 350px;
}



.bow-gameb-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.bow-gameb-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 1;
  width: inherit;
  display: inherit;
  align-self: inherit;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.bow-gameb-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.bow-gameb-container3 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.bow-gameb-container4 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.bow-gameb-text {
  color: var(--dl-color-gray-700);
  font-size: 30px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Nunito;
  font-weight: 900;
}
.bow-gameb-text01 {
  font-size: 18px;
  align-self: flex-start;
  font-style: italic;
  font-weight: 400;
}
.bow-gameb-text02 {
  font-size: 18px;
  align-self: flex-start;
  text-align: left;
}
.bow-gameb-text03 {
  font-size: 24px;
  align-self: flex-start;
  text-align: left;
}
.bow-gameb-text04 {
  font-size: 18px;
  align-self: flex-start;
}
.bow-gameb-container5 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.bow-gameb-iframe {
  width: 480px;
  height: 300px;
}



.only-grabs-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.only-grabs-container1 {
  gap: var(--dl-space-space-doubleunit);
  flex: 1;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.only-grabs-text {
  color: var(--dl-color-gray-700);
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.only-grabs-text1 {
  align-self: center;
  text-align: center;
}
.only-grabs-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.only-grabs-root-class-name {
  height: 350px;
}

.only-grabsb-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.only-grabsb-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 1;
  width: inherit;
  display: inherit;
  align-self: inherit;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.only-grabsb-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.only-grabsb-container3 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.only-grabsb-container4 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.only-grabsb-text {
  color: var(--dl-color-gray-700);
  font-size: 30px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Nunito;
  font-weight: 900;
}
.only-grabsb-text01 {
  font-size: 18px;
  align-self: flex-start;
  font-style: italic;
  font-weight: 400;
}
.only-grabsb-text02 {
  font-size: 18px;
  align-self: flex-start;
  text-align: left;
}
.only-grabsb-text03 {
  font-size: 24px;
  align-self: flex-start;
  text-align: left;
}
.only-grabsb-text04 {
  font-size: 18px;
  align-self: flex-start;
}
.only-grabsb-link {
  display: contents;
}
.only-grabsb-image {
  width: 60px;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.only-grabsb-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.only-grabsb-container6 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.only-grabsb-iframe {
  width: 480px;
  height: 300px;
}
.only-grabsb-container7 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.only-grabsb-image1 {
  width: 100%;
  object-fit: cover;
}


.bow-game-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.bow-game-container1 {
  gap: var(--dl-space-space-doubleunit);
  flex: 1;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.bow-game-text {
  color: var(--dl-color-gray-700);
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.bow-game-text1 {
  align-self: center;
  text-align: center;
}
.bow-game-image {
  flex: 1;
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.bow-game-root-class-name {
  height: 350px;
}

.gamedev-container {
  width: 100%;
  display: flex;
  overflow: initial;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.gamedev-text {
  color: var(--dl-color-gray-700);
  width: 456px;
  height: 79px;
  font-size: 50px;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.gamedev-container1 {
  gap: var(--dl-space-space-tenunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.gamedev-image {
  width: 262px;
  height: 240px;
  object-fit: cover;
}
.gamedev-text04 {
  width: 60%;
}
.gamedev-text10 {
  color: var(--dl-color-gray-700);
  font-size: 50px;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.gamedev-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.gamedev-desktop-menu {
  flex: 1;
  display: none;
  justify-content: space-between;
}
.gamedev-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.gamedev-text12 {
  margin-left: 32px;
}
.gamedev-text13 {
  margin-left: 32px;
}
.gamedev-text14 {
  margin-left: 32px;
}
.gamedev-text15 {
  margin-left: 32px;
}
.gamedev-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-login {
  border-width: 0px;
  margin-right: 32px;
}
.gamedev-burger-menu {
  display: flex;
}
.gamedev-mobile-menu {
  top: 0;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.gamedev-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.gamedev-logo {
  height: 2rem;
}
.gamedev-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gamedev-icon01 {
  width: 16px;
  height: 16px;
}
.gamedev-links01 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-text16 {
  margin-bottom: var(--dl-space-space-unit);
}
.gamedev-text17 {
  margin-bottom: var(--dl-space-space-unit);
}
.gamedev-text18 {
  margin-bottom: var(--dl-space-space-unit);
}
.gamedev-text19 {
  margin-bottom: var(--dl-space-space-unit);
}
.gamedev-text20 {
  margin-bottom: var(--dl-space-space-unit);
}
.gamedev-buttons01 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-login1 {
  margin-right: 32px;
}
.gamedev-icon03 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.gamedev-icon05 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.gamedev-icon07 {
  width: 16px;
  height: 16px;
}
.gamedev-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-blog {
  gap: var(--dl-space-space-tripleunit);
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  justify-content: center;
}
.gamedev-container3 {
  height: auto;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  margin-right: 0px;
  justify-content: center;
}
.gamedev-tbdne {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.gamedev-desktop-menu1 {
  flex: 1;
  display: none;
  justify-content: space-between;
}
.gamedev-links02 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.gamedev-text22 {
  margin-left: 32px;
}
.gamedev-text23 {
  margin-left: 32px;
}
.gamedev-text24 {
  margin-left: 32px;
}
.gamedev-text25 {
  margin-left: 32px;
}
.gamedev-buttons02 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-login2 {
  border-width: 0px;
  margin-right: 32px;
}
.gamedev-burger-menu1 {
  display: flex;
}
.gamedev-mobile-menu1 {
  top: 0;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  scroll-behavior: auto;
  background-color: var(--dl-color-gray-white);
}
.gamedev-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-top1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.gamedev-close-menu1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gamedev-links03 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-buttons03 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-container4 {
  height: min-content;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  margin-right: 0px;
  justify-content: center;
}
.gamedev-rush-rush-vr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gamedev-desktop-menu2 {
  flex: 1;
  display: none;
  justify-content: space-between;
}
.gamedev-links04 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.gamedev-text27 {
  margin-left: 32px;
}
.gamedev-text28 {
  margin-left: 32px;
}
.gamedev-text29 {
  margin-left: 32px;
}
.gamedev-text30 {
  margin-left: 32px;
}
.gamedev-buttons04 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-login3 {
  border-width: 0px;
  margin-right: 32px;
}
.gamedev-burger-menu2 {
  display: flex;
}
.gamedev-mobile-menu2 {
  top: 0;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.gamedev-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-top2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.gamedev-close-menu2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gamedev-links05 {
  flex: 0 0 auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-buttons05 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-icon-group2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.gamedev-container5 {
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  justify-content: space-between;
}
.gamedev-lab-echo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gamedev-desktop-menu3 {
  flex: 1;
  display: none;
  justify-content: space-between;
}
.gamedev-links06 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.gamedev-text32 {
  margin-left: 32px;
}
.gamedev-text33 {
  margin-left: 32px;
}
.gamedev-text34 {
  margin-left: 32px;
}
.gamedev-text35 {
  margin-left: 32px;
}
.gamedev-buttons06 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-login4 {
  border-width: 0px;
  margin-right: 32px;
}
.gamedev-burger-menu3 {
  display: flex;
}
.gamedev-mobile-menu3 {
  top: 0;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.gamedev-nav3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-top3 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.gamedev-close-menu3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gamedev-links07 {
  flex: 0 0 auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-buttons07 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-icon-group3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.gamedev-blog1 {
  gap: var(--dl-space-space-tripleunit);
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  justify-content: center;
}
.gamedev-container6 {
  height: auto;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  margin-right: 0px;
  justify-content: center;
}
.gamedev-bit-boxers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gamedev-desktop-menu4 {
  flex: 1;
  display: none;
  justify-content: space-between;
}
.gamedev-links08 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.gamedev-text37 {
  margin-left: 32px;
}
.gamedev-text38 {
  margin-left: 32px;
}
.gamedev-text39 {
  margin-left: 32px;
}
.gamedev-text40 {
  margin-left: 32px;
}
.gamedev-buttons08 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-login5 {
  border-width: 0px;
  margin-right: 32px;
}
.gamedev-burger-menu4 {
  display: flex;
}
.gamedev-mobile-menu4 {
  top: 0;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.gamedev-nav4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-top4 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.gamedev-close-menu4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gamedev-links09 {
  flex: 0 0 auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-buttons09 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-icon-group4 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.gamedev-container7 {
  height: min-content;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  margin-right: 0px;
  justify-content: center;
}
.gamedev-rush-rush-vr1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gamedev-desktop-menu5 {
  flex: 1;
  display: none;
  justify-content: space-between;
}
.gamedev-links10 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.gamedev-text42 {
  margin-left: 32px;
}
.gamedev-text43 {
  margin-left: 32px;
}
.gamedev-text44 {
  margin-left: 32px;
}
.gamedev-text45 {
  margin-left: 32px;
}
.gamedev-buttons10 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-login6 {
  border-width: 0px;
  margin-right: 32px;
}
.gamedev-burger-menu5 {
  display: flex;
}
.gamedev-mobile-menu5 {
  top: 0;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.gamedev-nav5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-top5 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.gamedev-close-menu5 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gamedev-links11 {
  flex: 0 0 auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-buttons11 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-icon-group5 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.gamedev-container8 {
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  justify-content: space-between;
}
.gamedev-bow-game {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gamedev-desktop-menu6 {
  flex: 1;
  display: none;
  justify-content: space-between;
}
.gamedev-links12 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.gamedev-text47 {
  margin-left: 32px;
}
.gamedev-text48 {
  margin-left: 32px;
}
.gamedev-text49 {
  margin-left: 32px;
}
.gamedev-text50 {
  margin-left: 32px;
}
.gamedev-buttons12 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-login7 {
  border-width: 0px;
  margin-right: 32px;
}
.gamedev-burger-menu6 {
  display: flex;
}
.gamedev-mobile-menu6 {
  top: 0;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.gamedev-nav6 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-top6 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.gamedev-close-menu6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gamedev-links13 {
  flex: 0 0 auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-buttons13 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-icon-group6 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
@media(max-width: 1200px) {
  .gamedev-desktop-menu {
    display: none;
  }
  .gamedev-burger-menu {
    display: flex;
  }
  .gamedev-desktop-menu1 {
    display: none;
  }
  .gamedev-burger-menu1 {
    display: flex;
  }
  .gamedev-desktop-menu2 {
    display: none;
  }
  .gamedev-burger-menu2 {
    display: flex;
  }
  .gamedev-desktop-menu3 {
    display: none;
  }
  .gamedev-burger-menu3 {
    display: flex;
  }
  .gamedev-desktop-menu4 {
    display: none;
  }
  .gamedev-burger-menu4 {
    display: flex;
  }
  .gamedev-desktop-menu5 {
    display: none;
  }
  .gamedev-burger-menu5 {
    display: flex;
  }
  .gamedev-desktop-menu6 {
    display: none;
  }
  .gamedev-burger-menu6 {
    display: flex;
  }
}
@media(max-width: 991px) {
  .gamedev-blog {
    flex-direction: column;
  }
  .gamedev-container3 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .gamedev-container4 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .gamedev-blog1 {
    flex-direction: column;
  }
  .gamedev-container6 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .gamedev-container7 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
}
@media(max-width: 767px) {
  .gamedev-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .gamedev-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .gamedev-text16 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .gamedev-text17 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gamedev-text18 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gamedev-text19 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gamedev-text20 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gamedev-blog {
    padding-left: 32px;
    padding-right: 32px;
  }
  .gamedev-tbdne {
    padding-left: 32px;
    padding-right: 32px;
  }
  .gamedev-burger-menu1 {
    align-items: center;
    justify-content: center;
  }
  .gamedev-rush-rush-vr {
    padding-left: 32px;
    padding-right: 32px;
  }
  .gamedev-burger-menu2 {
    align-items: center;
    justify-content: center;
  }
  .gamedev-lab-echo {
    padding-left: 32px;
    padding-right: 32px;
  }
  .gamedev-burger-menu3 {
    align-items: center;
    justify-content: center;
  }
  .gamedev-blog1 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .gamedev-bit-boxers {
    padding-left: 32px;
    padding-right: 32px;
  }
  .gamedev-burger-menu4 {
    align-items: center;
    justify-content: center;
  }
  .gamedev-rush-rush-vr1 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .gamedev-burger-menu5 {
    align-items: center;
    justify-content: center;
  }
  .gamedev-bow-game {
    padding-left: 32px;
    padding-right: 32px;
  }
  .gamedev-burger-menu6 {
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .gamedev-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .gamedev-mobile-menu {
    padding: 16px;
  }
  .gamedev-blog {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .gamedev-tbdne {
    padding: var(--dl-space-space-unit);
  }
  .gamedev-mobile-menu1 {
    padding: 16px;
  }
  .gamedev-rush-rush-vr {
    padding: var(--dl-space-space-unit);
  }
  .gamedev-mobile-menu2 {
    padding: 16px;
  }
  .gamedev-lab-echo {
    padding: var(--dl-space-space-unit);
  }
  .gamedev-mobile-menu3 {
    padding: 16px;
  }
  .gamedev-blog1 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .gamedev-bit-boxers {
    padding: var(--dl-space-space-unit);
  }
  .gamedev-mobile-menu4 {
    padding: 16px;
  }
  .gamedev-rush-rush-vr1 {
    padding: var(--dl-space-space-unit);
  }
  .gamedev-mobile-menu5 {
    padding: 16px;
  }
  .gamedev-bow-game {
    padding: var(--dl-space-space-unit);
  }
  .gamedev-mobile-menu6 {
    padding: 16px;
  }
}
