.tbdne-icon-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.tbdne-icon-container1 {
  gap: var(--dl-space-space-doubleunit);
  flex: 1;
  margin: var(--dl-space-space-doubleunit);
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.tbdne-icon-container1:hover {
  transform: scale(1.02);
}
.tbdne-icon-text {
  color: var(--dl-color-gray-700);
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.tbdne-icon-text1 {
  align-self: center;
  text-align: center;
}
.tbdne-icon-image {
  flex: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tbdne-icon-root-class-name1 {
  width: auto;
  height: 350px;
}
.tbdne-icon-root-class-name2 {
  width: auto;
  height: 350px;
}


.tbdne2b-container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.tbdne2b-container01 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 80%;
  margin: 0px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-tenunits);
  flex-direction: column;
}
.tbdne2b-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tbdne2b-text {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 64px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.tbdne2b-text01 {
  font-size: 18px;
  align-self: center;
  font-weight: 700;
}
.tbdne2b-container03 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.tbdne2b-text02 {
  font-size: 24px;
  align-self: center;
}
.tbdne2b-image {
  width: 300px;
  height: 300px;
  align-self: center;
  object-fit: cover;
}
.tbdne2b-container04 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tbdne2b-text05 {
  width: auto;
  font-size: 24px;
  align-self: center;
}
.tbdne2b-container05 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  justify-content: center;
}
.tbdne2b-container06 {
  flex: 0 0 auto;
  width: 120px;
  height: 120px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.tbdne2b-link {
  display: contents;
}
.tbdne2b-image1 {
  width: 100px;
  align-self: center;
  object-fit: cover;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.tbdne2b-text08 {
  align-self: center;
  text-align: center;
}
.tbdne2b-container07 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.tbdne2b-text09 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.tbdne2b-text10 {
  width: auto;
  font-size: 24px;
  align-self: center;
}
.tbdne2b-text11 {
  font-weight: 700;
}
.tbdne2b-text15 {
  font-weight: 700;
}
.tbdne2b-text19 {
  font-weight: 700;
}
.tbdne2b-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.tbdne2b-container09 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.tbdne2b-image2 {
  width: auto;
  height: 400px;
  align-self: center;
  object-fit: cover;
}
.tbdne2b-text22 {
  align-self: center;
}
.tbdne2b-container10 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.tbdne2b-image3 {
  width: auto;
  height: 400px;
  align-self: center;
  object-fit: cover;
}
.tbdne2b-text25 {
  align-self: center;
}


@media(max-width: 479px) {
  .tbdne2b-text {
    height: auto;
  }
  .tbdne2b-text09 {
    height: auto;
  }
}

.bit-boxers-icon-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.bit-boxers-icon-container1 {
  gap: var(--dl-space-space-doubleunit);
  flex: 1;
  margin: var(--dl-space-space-doubleunit);
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.bit-boxers-icon-container1:hover {
  transform: scale(1.02);
}
.bit-boxers-icon-text {
  color: var(--dl-color-gray-700);
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.bit-boxers-icon-text1 {
  align-self: center;
  text-align: center;
}
.bit-boxers-icon-image {
  flex: 1;
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}


.bit-boxers-icon-root-class-name3 {
  height: 350px;
}


.bit-boxersb1-container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.bit-boxersb1-container1 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 80%;
  margin: 0px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-tenunits);
  flex-direction: column;
}
.bit-boxersb1-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.bit-boxersb1-text {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 64px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.bit-boxersb1-text01 {
  font-size: 18px;
  align-self: center;
  font-weight: 700;
}
.bit-boxersb1-container3 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.bit-boxersb1-text02 {
  font-size: 24px;
  align-self: center;
}
.bit-boxersb1-container4 {
  gap: var(--dl-space-space-tenunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bit-boxersb1-container5 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.bit-boxersb1-text05 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.bit-boxersb1-iframe {
  width: 640px;
  height: 385px;
}
.bit-boxersb1-container6 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.bit-boxersb1-text06 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.bit-boxersb1-text07 {
  width: auto;
  font-size: 24px;
  align-self: center;
}
.bit-boxersb1-text08 {
  font-weight: 700;
}
.bit-boxersb1-text12 {
  font-weight: 700;
}
.bit-boxersb1-text16 {
  font-weight: 700;
}
.bit-boxersb1-container7 {
  flex: 0 0 auto;
  width: 60%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.bit-boxersb1-image {
  width: 100%;
  align-self: center;
  object-fit: cover;
}
.bit-boxersb1-text19 {
  align-self: center;
}
.bit-boxersb1-container8 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.bit-boxersb1-text20 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.bit-boxersb1-text21 {
  width: auto;
  font-size: 24px;
  align-self: center;
}



@media(max-width: 479px) {
  .bit-boxersb1-text {
    height: auto;
  }
  .bit-boxersb1-text05 {
    height: auto;
  }
  .bit-boxersb1-text06 {
    height: auto;
  }
  .bit-boxersb1-text20 {
    height: auto;
  }
}

.only-grabs-icon-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.only-grabs-icon-container1 {
  gap: var(--dl-space-space-doubleunit);
  flex: 1;
  margin: var(--dl-space-space-doubleunit);
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.only-grabs-icon-container1:hover {
  transform: scale(1.02);
}
.only-grabs-icon-text {
  color: var(--dl-color-gray-700);
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.only-grabs-icon-text1 {
  align-self: center;
  text-align: center;
}
.only-grabs-icon-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.only-grabs-icon-root-class-name1 {
  height: 350px;
}


.only-grabsb-container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.only-grabsb-container01 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-tenunits);
  flex-direction: column;
}
.only-grabsb-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.only-grabsb-text {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 64px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.only-grabsb-text01 {
  font-size: 18px;
  align-self: center;
  font-weight: 700;
}
.only-grabsb-container03 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.only-grabsb-text02 {
  font-size: 24px;
  align-self: center;
}
.only-grabsb-container04 {
  gap: var(--dl-space-space-tenunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.only-grabsb-iframe {
  width: 560px;
  height: 340px;
}
.only-grabsb-container05 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.only-grabsb-text05 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.only-grabsb-container06 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  justify-content: center;
}
.only-grabsb-container07 {
  flex: 0 0 auto;
  width: 120px;
  height: 120px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.only-grabsb-link {
  display: contents;
}
.only-grabsb-image {
  width: 100px;
  align-self: center;
  object-fit: cover;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.only-grabsb-text06 {
  align-self: center;
  text-align: center;
}
.only-grabsb-container08 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.only-grabsb-text07 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.only-grabsb-text08 {
  width: auto;
  font-size: 24px;
  align-self: center;
}
.only-grabsb-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.only-grabsb-container10 {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.only-grabsb-text11 {
  font-size: 24px;
  align-self: center;
}
.only-grabsb-container11 {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.only-grabsb-image1 {
  width: 100%;
  align-self: center;
  object-fit: cover;
}
.only-grabsb-text19 {
  align-self: center;
}
.only-grabsb-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.only-grabsb-container13 {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.only-grabsb-image2 {
  width: 100%;
  align-self: center;
  object-fit: cover;
}
.only-grabsb-text22 {
  align-self: center;
}
.only-grabsb-container14 {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.only-grabsb-text25 {
  font-size: 24px;
  align-self: center;
}
.only-grabsb-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.only-grabsb-container16 {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.only-grabsb-text31 {
  font-size: 24px;
  align-self: center;
}
.only-grabsb-container17 {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.only-grabsb-image3 {
  width: 100%;
  align-self: center;
  object-fit: cover;
}
.only-grabsb-text36 {
  align-self: center;
}
.only-grabsb-container18 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.only-grabsb-text40 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.only-grabsb-text43 {
  width: auto;
  font-size: 24px;
  align-self: center;
}
.only-grabsb-root-class-name {
  flex: 1;
  width: auto;
  height: auto;
}


@media(max-width: 479px) {
  .only-grabsb-text {
    height: auto;
  }
  .only-grabsb-text05 {
    height: auto;
  }
  .only-grabsb-text07 {
    height: auto;
  }
  .only-grabsb-text40 {
    height: auto;
  }
}

.rush-rush-vr-icon-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.rush-rush-vr-icon-container1 {
  gap: var(--dl-space-space-doubleunit);
  flex: 1;
  margin: var(--dl-space-space-doubleunit);
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.rush-rush-vr-icon-container1:hover {
  transform: scale(1.02);
}
.rush-rush-vr-icon-text {
  color: var(--dl-color-gray-700);
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.rush-rush-vr-icon-text1 {
  align-self: center;
  text-align: center;
}
.rush-rush-vr-icon-image {
  flex: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.rush-rush-vrb-container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.rush-rush-vrb-container01 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 80%;
  margin: 0px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-tenunits);
  flex-direction: column;
}
.rush-rush-vrb-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.rush-rush-vrb-text {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 64px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.rush-rush-vrb-text01 {
  font-size: 18px;
  align-self: center;
  text-align: center;
  font-weight: 700;
}
.rush-rush-vrb-container03 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.rush-rush-vrb-text02 {
  font-size: 24px;
  align-self: center;
}
.rush-rush-vrb-container04 {
  gap: var(--dl-space-space-tenunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rush-rush-vrb-iframe {
  width: 560px;
  height: 340px;
}
.rush-rush-vrb-container05 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.rush-rush-vrb-text05 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.rush-rush-vrb-container06 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  justify-content: center;
}
.rush-rush-vrb-container07 {
  flex: 0 0 auto;
  width: 120px;
  height: 120px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.rush-rush-vrb-link {
  display: contents;
}
.rush-rush-vrb-image {
  width: 100px;
  align-self: center;
  object-fit: cover;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.rush-rush-vrb-text06 {
  align-self: center;
  text-align: center;
}
.rush-rush-vrb-container08 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.rush-rush-vrb-text07 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.rush-rush-vrb-text08 {
  width: auto;
  font-size: 24px;
  align-self: center;
}
.rush-rush-vrb-text09 {
  font-weight: 700;
}
.rush-rush-vrb-text13 {
  font-weight: 700;
}
.rush-rush-vrb-text15 {
  font-weight: 700;
}
.rush-rush-vrb-text19 {
  font-weight: 700;
}
.rush-rush-vrb-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.rush-rush-vrb-container10 {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.rush-rush-vrb-image1 {
  width: 100%;
  align-self: center;
  object-fit: cover;
}
.rush-rush-vrb-text22 {
  align-self: center;
}
.rush-rush-vrb-container11 {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.rush-rush-vrb-image2 {
  width: 100%;
  align-self: center;
  object-fit: cover;
}
.rush-rush-vrb-text23 {
  align-self: center;
}
.rush-rush-vrb-container12 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.rush-rush-vrb-text24 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.rush-rush-vrb-text25 {
  width: auto;
  font-size: 24px;
  align-self: center;
}


@media(max-width: 479px) {
  .rush-rush-vrb-text {
    height: auto;
  }
  .rush-rush-vrb-text05 {
    height: auto;
  }
  .rush-rush-vrb-text07 {
    height: auto;
  }
  .rush-rush-vrb-text24 {
    height: auto;
  }
}

.lab-echo-icon-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.lab-echo-icon-container1 {
  gap: var(--dl-space-space-doubleunit);
  flex: 1;
  margin: var(--dl-space-space-doubleunit);
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.lab-echo-icon-container1:hover {
  transform: scale(1.02);
}
.lab-echo-icon-text {
  color: var(--dl-color-gray-700);
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.lab-echo-icon-text1 {
  align-self: center;
  text-align: center;
}
.lab-echo-icon-image {
  flex: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.lab-echob-container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.lab-echob-container01 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 80%;
  margin: 0px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-tenunits);
  flex-direction: column;
}
.lab-echob-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lab-echob-text {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 64px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.lab-echob-text01 {
  font-size: 18px;
  align-self: center;
  font-weight: 700;
}
.lab-echob-container03 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.lab-echob-text02 {
  font-size: 24px;
  align-self: center;
}
.lab-echob-container04 {
  gap: var(--dl-space-space-tenunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lab-echob-iframe {
  width: 560px;
  height: 340px;
}
.lab-echob-container05 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lab-echob-text05 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.lab-echob-container06 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  justify-content: center;
}
.lab-echob-container07 {
  flex: 0 0 auto;
  width: 120px;
  height: 120px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.lab-echob-link {
  display: contents;
}
.lab-echob-image {
  width: 100px;
  align-self: center;
  object-fit: cover;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.lab-echob-text06 {
  align-self: center;
  text-align: center;
}
.lab-echob-container08 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.lab-echob-text07 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.lab-echob-text08 {
  width: auto;
  font-size: 24px;
  align-self: center;
}
.lab-echob-text09 {
  font-weight: 700;
}
.lab-echob-text11 {
  font-style: italic;
}
.lab-echob-text13 {
  font-style: italic;
}
.lab-echob-text17 {
  font-weight: 700;
}
.lab-echob-text18 {
  font-weight: 700;
}
.lab-echob-text22 {
  font-weight: 700;
}
.lab-echob-text26 {
  font-weight: 700;
}
.lab-echob-container09 {
  gap: var(--dl-space-space-doubleunit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.lab-echob-container10 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.lab-echob-image1 {
  width: 50%;
  align-self: center;
  object-fit: cover;
}
.lab-echob-image2 {
  width: 50%;
  object-fit: cover;
}
.lab-echob-text29 {
  align-self: center;
}
.lab-echob-container11 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.lab-echob-text30 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.lab-echob-text31 {
  width: auto;
  font-size: 24px;
  align-self: center;
}
.lab-echob-text36 {
  font-weight: 700;
}


@media(max-width: 479px) {
  .lab-echob-text {
    height: auto;
  }
  .lab-echob-text05 {
    height: auto;
  }
  .lab-echob-text07 {
    height: auto;
  }
  .lab-echob-text30 {
    height: auto;
  }
}

.bow-game-icon-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.bow-game-icon-container1 {
  gap: var(--dl-space-space-doubleunit);
  flex: 1;
  margin: var(--dl-space-space-doubleunit);
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.bow-game-icon-container1:hover {
  transform: scale(1.02);
}
.bow-game-icon-text {
  color: var(--dl-color-gray-700);
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.bow-game-icon-text1 {
  align-self: center;
  text-align: center;
}
.bow-game-icon-image {
  flex: 1;
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.bow-game-icon-root-class-name1 {
  height: 350px;
}


.bow-gameb-container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.bow-gameb-container1 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-tenunits);
  flex-direction: column;
}
.bow-gameb-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.bow-gameb-text {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 64px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.bow-gameb-text01 {
  font-size: 18px;
  align-self: center;
  text-align: center;
  font-weight: 700;
}
.bow-gameb-container3 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.bow-gameb-text02 {
  font-size: 24px;
  align-self: center;
}
.bow-gameb-container4 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.bow-gameb-text05 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.bow-gameb-iframe {
  width: 640px;
  height: 385px;
}
.bow-gameb-container5 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.bow-gameb-text06 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.bow-gameb-text07 {
  width: auto;
  font-size: 24px;
  align-self: center;
}
.bow-gameb-text08 {
  font-weight: 700;
}
.bow-gameb-text12 {
  font-weight: 700;
}



@media(max-width: 479px) {
  .bow-gameb-text {
    height: auto;
  }
  .bow-gameb-text05 {
    height: auto;
  }
  .bow-gameb-text06 {
    height: auto;
  }
}

.gamedev-container {
  width: 100%;
  display: flex;
  overflow: initial;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.gamedev-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  background-color: var(--dl-color-gray-800);
}
.gamedev-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.gamedev-links {
  gap: var(--dl-space-space-fourunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.gamedev-navlink {
  border-color: var(--dl-color-gray-700);
  border-style: solid;
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.gamedev-navlink1 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.gamedev-navlink2 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.gamedev-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-burger-menu {
  display: none;
}
.gamedev-icon {
  width: 16px;
  height: 16px;
}
.gamedev-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.gamedev-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.gamedev-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gamedev-icon02 {
  width: 16px;
  height: 16px;
}
.gamedev-links01 {
  gap: var(--dl-space-space-fourunits);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-navlink3 {
  border-color: var(--dl-color-gray-700);
  border-style: solid;
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.gamedev-navlink4 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.gamedev-navlink5 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.gamedev-buttons01 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-text18 {
  color: var(--dl-color-gray-700);
  width: auto;
  font-size: 64px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.gamedev-text19 {
  font-size: 20px;
  margin-top: var(--dl-space-space-tripleunit);
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.gamedev-text28 {
  color: var(--dl-color-gray-700);
  font-size: 50px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.gamedev-container1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-blog {
  gap: var(--dl-space-space-tripleunit);
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  justify-content: center;
}
.gamedev-container2 {
  height: auto;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  margin-right: 0px;
  justify-content: center;
}
.gamedev-tbdne {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.gamedev-desktop-menu1 {
  flex: 1;
  display: none;
  justify-content: space-between;
}
.gamedev-links02 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.gamedev-text31 {
  margin-left: 32px;
}
.gamedev-text32 {
  margin-left: 32px;
}
.gamedev-text33 {
  margin-left: 32px;
}
.gamedev-text34 {
  margin-left: 32px;
}
.gamedev-buttons02 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-login {
  border-width: 0px;
  margin-right: 32px;
}
.gamedev-burger-menu1 {
  display: flex;
}
.gamedev-mobile-menu1 {
  top: 0;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  scroll-behavior: auto;
  background-color: var(--dl-color-gray-white);
}
.gamedev-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-top1 {
  width: 100%;
  height: 25px;
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  justify-content: space-between;
  background-color: var(--dl-color-gray-transparent);
  background-blend-mode: overlay;
}
.gamedev-close-menu1 {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-transparent);
}
.gamedev-icon05 {
  width: 75px;
  height: 75px;
}
.gamedev-links03 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-buttons03 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-container3 {
  height: min-content;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  margin-right: 0px;
  justify-content: center;
}
.gamedev-bit-boxers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gamedev-desktop-menu2 {
  flex: 1;
  display: none;
  justify-content: space-between;
}
.gamedev-links04 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.gamedev-text36 {
  margin-left: 32px;
}
.gamedev-text37 {
  margin-left: 32px;
}
.gamedev-text38 {
  margin-left: 32px;
}
.gamedev-text39 {
  margin-left: 32px;
}
.gamedev-buttons04 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-login1 {
  border-width: 0px;
  margin-right: 32px;
}
.gamedev-burger-menu2 {
  display: flex;
}
.gamedev-mobile-menu2 {
  top: 0;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  scroll-behavior: auto;
  background-color: var(--dl-color-gray-white);
}
.gamedev-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-top2 {
  width: 100%;
  height: 25px;
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  justify-content: space-between;
  background-color: var(--dl-color-gray-transparent);
  background-blend-mode: overlay;
}
.gamedev-close-menu2 {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-transparent);
}
.gamedev-icon08 {
  width: 75px;
  height: 75px;
}
.gamedev-links05 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-buttons05 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-icon-group2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.gamedev-container4 {
  height: auto;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  justify-content: space-between;
}
.gamedev-only-grabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gamedev-desktop-menu3 {
  flex: 1;
  display: none;
  justify-content: space-between;
}
.gamedev-links06 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.gamedev-text41 {
  margin-left: 32px;
}
.gamedev-text42 {
  margin-left: 32px;
}
.gamedev-text43 {
  margin-left: 32px;
}
.gamedev-text44 {
  margin-left: 32px;
}
.gamedev-buttons06 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-login2 {
  border-width: 0px;
  margin-right: 32px;
}
.gamedev-burger-menu3 {
  display: flex;
}
.gamedev-mobile-menu3 {
  top: 0;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  scroll-behavior: auto;
  background-color: var(--dl-color-gray-white);
}
.gamedev-nav3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-top3 {
  width: 100%;
  height: 25px;
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  justify-content: space-between;
  background-color: var(--dl-color-gray-transparent);
  background-blend-mode: overlay;
}
.gamedev-close-menu3 {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-transparent);
}
.gamedev-icon11 {
  width: 75px;
  height: 75px;
}
.gamedev-links07 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-buttons07 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-icon-group3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.gamedev-blog1 {
  gap: var(--dl-space-space-tripleunit);
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  justify-content: center;
}
.gamedev-container5 {
  height: auto;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  margin-right: 0px;
  justify-content: center;
}
.gamedev-rush-rush-vr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gamedev-desktop-menu4 {
  flex: 1;
  display: none;
  justify-content: space-between;
}
.gamedev-links08 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.gamedev-text46 {
  margin-left: 32px;
}
.gamedev-text47 {
  margin-left: 32px;
}
.gamedev-text48 {
  margin-left: 32px;
}
.gamedev-text49 {
  margin-left: 32px;
}
.gamedev-buttons08 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-login3 {
  border-width: 0px;
  margin-right: 32px;
}
.gamedev-burger-menu4 {
  display: flex;
}
.gamedev-mobile-menu4 {
  top: 0;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  scroll-behavior: auto;
  background-color: var(--dl-color-gray-white);
}
.gamedev-nav4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-top4 {
  width: 100%;
  height: 25px;
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  justify-content: space-between;
  background-color: var(--dl-color-gray-transparent);
  background-blend-mode: overlay;
}
.gamedev-close-menu4 {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-transparent);
}
.gamedev-icon14 {
  width: 75px;
  height: 75px;
}
.gamedev-links09 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-buttons09 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-icon-group4 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.gamedev-container6 {
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  margin-right: 0px;
  justify-content: center;
}
.gamedev-container6:hover {
  flex-grow: 1.02;
}
.gamedev-lab-echo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gamedev-desktop-menu5 {
  flex: 1;
  display: none;
  justify-content: space-between;
}
.gamedev-links10 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.gamedev-text51 {
  margin-left: 32px;
}
.gamedev-text52 {
  margin-left: 32px;
}
.gamedev-text53 {
  margin-left: 32px;
}
.gamedev-text54 {
  margin-left: 32px;
}
.gamedev-buttons10 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-login4 {
  border-width: 0px;
  margin-right: 32px;
}
.gamedev-burger-menu5 {
  display: flex;
}
.gamedev-mobile-menu5 {
  top: 0;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  scroll-behavior: auto;
  background-color: var(--dl-color-gray-white);
}
.gamedev-nav5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-top5 {
  width: 100%;
  height: 25px;
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  justify-content: space-between;
  background-color: var(--dl-color-gray-transparent);
  background-blend-mode: overlay;
}
.gamedev-close-menu5 {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-transparent);
}
.gamedev-icon17 {
  width: 75px;
  height: 75px;
}
.gamedev-links11 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-buttons11 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-icon-group5 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.gamedev-container7 {
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  justify-content: space-between;
}
.gamedev-bow-game {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gamedev-desktop-menu6 {
  flex: 1;
  display: none;
  justify-content: space-between;
}
.gamedev-links12 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.gamedev-text56 {
  margin-left: 32px;
}
.gamedev-text57 {
  margin-left: 32px;
}
.gamedev-text58 {
  margin-left: 32px;
}
.gamedev-text59 {
  margin-left: 32px;
}
.gamedev-buttons12 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-login5 {
  border-width: 0px;
  margin-right: 32px;
}
.gamedev-burger-menu6 {
  display: flex;
}
.gamedev-mobile-menu6 {
  top: 0;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  scroll-behavior: auto;
  background-color: var(--dl-color-gray-white);
}
.gamedev-nav6 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-top6 {
  width: 100%;
  height: 25px;
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  justify-content: space-between;
  background-color: var(--dl-color-gray-transparent);
  background-blend-mode: overlay;
}
.gamedev-close-menu6 {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-transparent);
}
.gamedev-icon20 {
  width: 75px;
  height: 75px;
}
.gamedev-links13 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.gamedev-buttons13 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamedev-icon-group6 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
@media(max-width: 1200px) {
  .gamedev-desktop-menu1 {
    display: none;
  }
  .gamedev-burger-menu1 {
    display: flex;
  }
  .gamedev-desktop-menu2 {
    display: none;
  }
  .gamedev-burger-menu2 {
    display: flex;
  }
  .gamedev-desktop-menu3 {
    display: none;
  }
  .gamedev-burger-menu3 {
    display: flex;
  }
  .gamedev-desktop-menu4 {
    display: none;
  }
  .gamedev-burger-menu4 {
    display: flex;
  }
  .gamedev-desktop-menu5 {
    display: none;
  }
  .gamedev-burger-menu5 {
    display: flex;
  }
  .gamedev-desktop-menu6 {
    display: none;
  }
  .gamedev-burger-menu6 {
    display: flex;
  }
}
@media(max-width: 991px) {
  .gamedev-blog {
    flex-direction: column;
  }
  .gamedev-container2 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .gamedev-container3 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .gamedev-blog1 {
    flex-direction: column;
  }
  .gamedev-container5 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .gamedev-container6 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
}
@media(max-width: 767px) {
  .gamedev-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .gamedev-desktop-menu {
    display: none;
  }
  .gamedev-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gamedev-blog {
    padding-left: 32px;
    padding-right: 32px;
  }
  .gamedev-tbdne {
    padding-left: 32px;
    padding-right: 32px;
  }
  .gamedev-burger-menu1 {
    align-items: center;
    justify-content: center;
  }
  .gamedev-bit-boxers {
    padding-left: 32px;
    padding-right: 32px;
  }
  .gamedev-burger-menu2 {
    align-items: center;
    justify-content: center;
  }
  .gamedev-only-grabs {
    padding-left: 32px;
    padding-right: 32px;
  }
  .gamedev-burger-menu3 {
    align-items: center;
    justify-content: center;
  }
  .gamedev-blog1 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .gamedev-rush-rush-vr {
    padding-left: 32px;
    padding-right: 32px;
  }
  .gamedev-burger-menu4 {
    align-items: center;
    justify-content: center;
  }
  .gamedev-lab-echo {
    padding-left: 32px;
    padding-right: 32px;
  }
  .gamedev-burger-menu5 {
    align-items: center;
    justify-content: center;
  }
  .gamedev-bow-game {
    padding-left: 32px;
    padding-right: 32px;
  }
  .gamedev-burger-menu6 {
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .gamedev-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .gamedev-mobile-menu {
    padding: 16px;
  }
  .gamedev-blog {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .gamedev-tbdne {
    padding: var(--dl-space-space-unit);
  }
  .gamedev-mobile-menu1 {
    padding: 16px;
  }
  .gamedev-bit-boxers {
    padding: var(--dl-space-space-unit);
  }
  .gamedev-mobile-menu2 {
    padding: 16px;
  }
  .gamedev-only-grabs {
    padding: var(--dl-space-space-unit);
  }
  .gamedev-mobile-menu3 {
    padding: 16px;
  }
  .gamedev-blog1 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .gamedev-rush-rush-vr {
    padding: var(--dl-space-space-unit);
  }
  .gamedev-mobile-menu4 {
    padding: 16px;
  }
  .gamedev-lab-echo {
    padding: var(--dl-space-space-unit);
  }
  .gamedev-mobile-menu5 {
    padding: 16px;
  }
  .gamedev-bow-game {
    padding: var(--dl-space-space-unit);
  }
  .gamedev-mobile-menu6 {
    padding: 16px;
  }
}
