.tbdne-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.tbdne-blog-post-card:hover {
  transform: scale(1.02);
}
.tbdne-container {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.tbdne-text {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.tbdne-text1 {
  font-style: italic;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.tbdne-text2 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: 32px;
}
.tbdne-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  column-gap: var(--dl-space-space-fiveunits);
  align-items: center;
  justify-content: flex-start;
}
.tbdne-link {
  display: contents;
}
.tbdne-image {
  width: 60px;
  object-fit: cover;
  text-decoration: none;
}
.tbdne-root-class-name {
  height: 500px;
}
.tbdne-root-class-name1 {
  height: 500px;
}

.posetransfer-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.posetransfer-blog-post-card:hover {
  transform: scale(1.02);
}
.posetransfer-container {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.posetransfer-text {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.posetransfer-text1 {
  font-style: italic;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.posetransfer-text2 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: 32px;
}
.posetransfer-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  column-gap: var(--dl-space-space-fiveunits);
  align-items: center;
  justify-content: flex-start;
}
.posetransfer-link {
  display: contents;
}
.posetransfer-image {
  width: 60;
  height: 60px;
  object-fit: cover;
  text-decoration: none;
}
.posetransfer-link1 {
  display: contents;
}
.posetransfer-image1 {
  width: 60;
  height: 60px;
  object-fit: cover;
  text-decoration: none;
}


.posetransfer-root-class-name3 {
  height: 500px;
}


.imagesegmentation-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.imagesegmentation-blog-post-card:hover {
  transform: scale(1.02);
}
.imagesegmentation-container {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.imagesegmentation-text {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.imagesegmentation-text1 {
  font-style: italic;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.imagesegmentation-text2 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: 32px;
}
.imagesegmentation-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  column-gap: var(--dl-space-space-fiveunits);
  align-items: center;
  justify-content: flex-start;
}
.imagesegmentation-link {
  display: contents;
}
.imagesegmentation-image {
  width: 60;
  height: 60;
  object-fit: cover;
  text-decoration: none;
}
.imagesegmentation-root-class-name {
  height: 500px;
}
.imagesegmentation-root-class-name1 {
  height: 700px;
}

.connectivia-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.connectivia-blog-post-card:hover {
  transform: scale(1.02);
}
.connectivia-container {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.connectivia-text {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.connectivia-text1 {
  font-style: italic;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.connectivia-text2 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: 32px;
}
.connectivia-root-class-name {
  height: 500px;
}

.workoutbuddy-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.workoutbuddy-blog-post-card:hover {
  transform: scale(1.02);
}
.workoutbuddy-container {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.workoutbuddy-text {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.workoutbuddy-text1 {
  font-style: italic;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.workoutbuddy-text2 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: 32px;
}
.workoutbuddy-root-class-name {
  height: 500px;
}
.workoutbuddy-root-class-name1 {
  height: 500px;
}

.gesturedrawing-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gesturedrawing-blog-post-card:hover {
  transform: scale(1.02);
}
.gesturedrawing-container {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.gesturedrawing-text {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.gesturedrawing-text1 {
  font-style: italic;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.gesturedrawing-text2 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: 32px;
}
.gesturedrawing-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  column-gap: var(--dl-space-space-fiveunits);
  align-items: center;
  justify-content: flex-start;
}
.gesturedrawing-link {
  display: contents;
}
.gesturedrawing-image {
  width: 60;
  height: 60;
  object-fit: cover;
  text-decoration: none;
}
.gesturedrawing-root-class-name {
  height: 500px;
}
.gesturedrawing-root-class-name1 {
  height: 700px;
  align-self: center;
}

.software-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.software-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.software-container02 {
  flex: 0 0 auto;
  width: 548px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.software-text {
  color: var(--dl-color-gray-700);
  width: 287px;
  height: 54px;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.software-container03 {
  gap: var(--dl-space-space-tenunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.software-image {
  width: 262px;
  height: 240px;
  object-fit: cover;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
}
.software-text04 {
  width: 60%;
}
.software-text10 {
  color: var(--dl-color-gray-700);
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.software-container04 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.software-blog {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  justify-content: space-between;
}
.software-container05 {
  height: max-content;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  margin-right: 32px;
  justify-content: space-between;
}
.software-container06 {
  height: min-content;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  margin-right: 32px;
  justify-content: center;
}
.software-container07 {
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  justify-content: space-between;
}
.software-blog1 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  justify-content: space-between;
}
.software-container08 {
  height: max-content;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  margin-right: 32px;
  justify-content: space-between;
}
.software-container09 {
  height: min-content;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  margin-right: 32px;
  justify-content: center;
}
.software-container10 {
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  justify-content: space-between;
}
@media(max-width: 991px) {
  .software-blog {
    flex-direction: column;
  }
  .software-container05 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .software-container06 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .software-blog1 {
    flex-direction: column;
  }
  .software-container08 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .software-container09 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
}
@media(max-width: 767px) {
  .software-blog {
    padding-left: 32px;
    padding-right: 32px;
  }
  .software-blog1 {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .software-blog {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .software-blog1 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}
