.rush-rush-vr-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.rush-rush-vr-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  background-color: var(--dl-color-gray-800);
}
.rush-rush-vr-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.rush-rush-vr-links {
  gap: var(--dl-space-space-fourunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.rush-rush-vr-navlink {
  border-color: var(--dl-color-gray-700);
  border-style: solid;
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.rush-rush-vr-navlink1 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.rush-rush-vr-navlink2 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.rush-rush-vr-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.rush-rush-vr-burger-menu {
  display: none;
}
.rush-rush-vr-icon {
  width: 16px;
  height: 16px;
}
.rush-rush-vr-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.rush-rush-vr-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.rush-rush-vr-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.rush-rush-vr-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rush-rush-vr-icon2 {
  width: 16px;
  height: 16px;
}
.rush-rush-vr-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.rush-rush-vr-navlink3 {
  border-color: var(--dl-color-gray-700);
  border-style: solid;
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.rush-rush-vr-navlink4 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.rush-rush-vr-navlink5 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.rush-rush-vr-buttons1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.rush-rush-vr-container01 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-tenunits);
  flex-direction: column;
}
.rush-rush-vr-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.rush-rush-vr-text18 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 64px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.rush-rush-vr-text19 {
  font-size: 18px;
  align-self: center;
  text-align: center;
  font-weight: 700;
}
.rush-rush-vr-container03 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.rush-rush-vr-text20 {
  font-size: 24px;
  align-self: center;
}
.rush-rush-vr-container04 {
  gap: var(--dl-space-space-tenunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rush-rush-vr-iframe {
  width: 520px;
  height: 300;
}
.rush-rush-vr-container05 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.rush-rush-vr-text23 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.rush-rush-vr-container06 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  justify-content: center;
}
.rush-rush-vr-container07 {
  flex: 0 0 auto;
  width: 120px;
  height: 120px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.rush-rush-vr-link {
  display: contents;
}
.rush-rush-vr-image {
  width: 100px;
  align-self: center;
  object-fit: cover;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.rush-rush-vr-text24 {
  align-self: center;
  text-align: center;
}
.rush-rush-vr-container08 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.rush-rush-vr-text25 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.rush-rush-vr-text26 {
  width: auto;
  font-size: 24px;
  align-self: center;
}
.rush-rush-vr-text27 {
  font-weight: 700;
}
.rush-rush-vr-text31 {
  font-weight: 700;
}
.rush-rush-vr-text33 {
  font-weight: 700;
}
.rush-rush-vr-text37 {
  font-weight: 700;
}
.rush-rush-vr-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.rush-rush-vr-container10 {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.rush-rush-vr-image1 {
  width: 100%;
  align-self: center;
  object-fit: cover;
}
.rush-rush-vr-text40 {
  align-self: center;
}
.rush-rush-vr-container11 {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.rush-rush-vr-image2 {
  width: 100%;
  align-self: center;
  object-fit: cover;
}
.rush-rush-vr-text41 {
  align-self: center;
}
.rush-rush-vr-container12 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.rush-rush-vr-text42 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.rush-rush-vr-text43 {
  width: auto;
  font-size: 24px;
  align-self: center;
}
@media(max-width: 767px) {
  .rush-rush-vr-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .rush-rush-vr-desktop-menu {
    display: none;
  }
  .rush-rush-vr-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rush-rush-vr-links1 {
    gap: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .rush-rush-vr-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .rush-rush-vr-mobile-menu {
    padding: 16px;
  }
  .rush-rush-vr-text18 {
    height: auto;
  }
  .rush-rush-vr-text23 {
    height: auto;
  }
  .rush-rush-vr-text25 {
    height: auto;
  }
  .rush-rush-vr-text42 {
    height: auto;
  }
}
