.tbdne-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.tbdne-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  background-color: var(--dl-color-gray-800);
}
.tbdne-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.tbdne-links {
  gap: var(--dl-space-space-fourunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.tbdne-navlink {
  border-color: var(--dl-color-gray-700);
  border-style: solid;
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.tbdne-navlink1 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.tbdne-navlink2 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.tbdne-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.tbdne-burger-menu {
  display: none;
}
.tbdne-icon {
  width: 16px;
  height: 16px;
}
.tbdne-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.tbdne-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tbdne-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.tbdne-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tbdne-icon2 {
  width: 16px;
  height: 16px;
}
.tbdne-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.tbdne-navlink3 {
  border-color: var(--dl-color-gray-700);
  border-style: solid;
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.tbdne-navlink4 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.tbdne-navlink5 {
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-gray-800);
}
.tbdne-buttons1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.tbdne-container01 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-tenunits);
  flex-direction: column;
}
.tbdne-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tbdne-text18 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 64px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.tbdne-text19 {
  font-size: 18px;
  align-self: center;
  font-weight: 700;
}
.tbdne-container03 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.tbdne-text20 {
  font-size: 24px;
  align-self: center;
}
.tbdne-image {
  width: 300px;
  height: 300px;
  align-self: center;
  object-fit: cover;
}
.tbdne-container04 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tbdne-text23 {
  width: auto;
  font-size: 24px;
  align-self: center;
}
.tbdne-container05 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  justify-content: center;
}
.tbdne-container06 {
  flex: 0 0 auto;
  width: 120px;
  height: 120px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.tbdne-link {
  display: contents;
}
.tbdne-image1 {
  width: 100px;
  align-self: center;
  object-fit: cover;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.tbdne-text26 {
  align-self: center;
  text-align: center;
}
.tbdne-container07 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.tbdne-text27 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.tbdne-text28 {
  width: auto;
  font-size: 24px;
  align-self: center;
}
.tbdne-text29 {
  font-weight: 700;
}
.tbdne-text33 {
  font-weight: 700;
}
.tbdne-text37 {
  font-weight: 700;
}
.tbdne-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.tbdne-container09 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.tbdne-image2 {
  width: auto;
  height: 400px;
  align-self: center;
  object-fit: cover;
}
.tbdne-text40 {
  align-self: center;
}
.tbdne-container10 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.tbdne-image3 {
  width: auto;
  height: 400px;
  align-self: center;
  object-fit: cover;
}
.tbdne-text43 {
  align-self: center;
}
@media(max-width: 767px) {
  .tbdne-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .tbdne-desktop-menu {
    display: none;
  }
  .tbdne-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tbdne-links1 {
    gap: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .tbdne-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .tbdne-mobile-menu {
    padding: 16px;
  }
  .tbdne-text18 {
    height: auto;
  }
  .tbdne-text27 {
    height: auto;
  }
}
