<div>
  <link href="./bit-boxers.css" rel="stylesheet" />
  <div class="bit-boxers-container">
    <div class="bit-boxers-container1">
      <h1 class="bit-boxers-text"><span>BitBoxers</span></h1>
      <h2 class="bit-boxers-text1"><span>Arcade Fighting Game</span></h2>
      <img
        alt="image"
        src="https://media.discordapp.net/attachments/705948050144886795/1145097539419373608/BitBoxers__EE445L_Spring_2022_2.gif?width=650&amp;height=366"
        class="bit-boxers-image"
      />
    </div>
  </div>
</div>
