<div>
  <link href="./bit-boxersb1.css" rel="stylesheet" />
  <div class="bit-boxersb1-container">
    <div class="bit-boxersb1-container1">
      <div class="bit-boxersb1-container2">
        <div class="bit-boxersb1-container3">
          <div class="bit-boxersb1-container4">
            <h1 class="bit-boxersb1-text"><span>BitBoxers</span></h1>
            <span class="bit-boxersb1-text01"><span>C</span></span>
            <span class="bit-boxersb1-text02">
              <span>
                BitBoxers is a 1v1 fighting game developed on the Arm Cortex
                Microcontroller. Taking inspiration from fighting games and
                autobattlers, players queue up a sequence of attacks with unique
                interactions until only one is left standing. This project was
                created with a team of 5 over the course of 2 months.
              </span>
            </span>
            <h2 class="bit-boxersb1-text03">
              <span>Project Responsibilities</span>
            </h2>
            <span class="bit-boxersb1-text04">
              <span>
                - Conceptualized overall game design and flow, including
                physical control requirements and interactions
              </span>
              <br />
              <span>
                - Programmed overall combat game loop and AI opponent system
              </span>
              <br />
              <span>
                - Programmed graphics drivers for displaying sprites on LCD
                screen
              </span>
              <br />
            </span>
            <a
              href="https://docs.google.com/document/d/1cPR-kHjvqxSDaIFSav2lrKzUpRoZ0lTM6WrTHY4LFkE/edit?usp=sharing"
              target="_blank"
              rel="noreferrer noopener"
              class="bit-boxersb1-link"
            >
              <img
                alt="image"
                src="public/document-xxl-200h.png"
                class="bit-boxersb1-image"
              />
            </a>
          </div>
        </div>
        <div class="bit-boxersb1-container5">
          <iframe
            src='https://www.youtube.com/embed/G9133s1H3og?si=QxhPVdpR8ygfTXvJ"'
            allowfullscreen
            class="bit-boxersb1-iframe"
          ></iframe>
          <img
            alt="image"
            src="public/Gamestuff/BitBoxers/gamerules-400h.png"
            class="bit-boxersb1-image1"
          />
        </div>
      </div>
    </div>
  </div>
</div>
