<div>
  <link href="./bow-game.css" rel="stylesheet" />
  <div class="bow-game-container">
    <div class="bow-game-container1">
      <h1 class="bow-game-text"><span>The Bow Game</span></h1>
      <h2 class="bow-game-text1"><span>VR Archery Simulator</span></h2>
      <img
        alt="image"
        src="https://media.discordapp.net/attachments/705948050144886795/1145179824604856370/ezgif.com-crop.gif?width=650&amp;height=365"
        class="bow-game-image"
      />
    </div>
  </div>
</div>
