.bow-game-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.bow-game-container1 {
  gap: var(--dl-space-space-doubleunit);
  flex: 1;
  margin: var(--dl-space-space-doubleunit);
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.bow-game-container1:hover {
  transform: scale(1.02);
}
.bow-game-text {
  color: var(--dl-color-gray-700);
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.bow-game-text1 {
  align-self: center;
  text-align: center;
}
.bow-game-image {
  flex: 1;
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.bow-game-root-class-name {
  height: 350px;
}
