<div>
  <link href="./bow-gameb.css" rel="stylesheet" />
  <div class="bow-gameb-container">
    <div class="bow-gameb-container1">
      <div class="bow-gameb-container2">
        <div class="bow-gameb-container3">
          <div class="bow-gameb-container4">
            <h1 class="bow-gameb-text"><span>The Bow Game</span></h1>
            <span class="bow-gameb-text01">
              <span>Unity, C#, Unity XR Toolkit</span>
            </span>
            <span class="bow-gameb-text02">
              <span>
                The bow game is a VR Archery Simulator prototype. It features
                moving animal sprites as targets rather than 3d objects. This
                project was developed over the course of 3 weeks with a team of
                5 people.
              </span>
            </span>
            <h2 class="bow-gameb-text03">
              <span>Project Responsibilities</span>
            </h2>
            <span class="bow-gameb-text04">
              <span>- Programmed movement system for creature targets</span>
              <br />
              <span>- Contributed to bow and arrow interaction code</span>
              <br />
              <span>- Familiarized myself with XR Interaction Toolkit</span>
              <br />
            </span>
          </div>
        </div>
        <div class="bow-gameb-container5">
          <iframe
            src="https://www.youtube.com/embed/ATq8DBU-ehE?si=vWKAiTB_JDRUY_Fy"
            allowfullscreen
            class="bow-gameb-iframe"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
