.bow-gameb-container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.bow-gameb-container1 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-tenunits);
  flex-direction: column;
}
.bow-gameb-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.bow-gameb-text {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 64px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.bow-gameb-text01 {
  font-size: 18px;
  align-self: center;
  text-align: center;
  font-weight: 700;
}
.bow-gameb-container3 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.bow-gameb-text02 {
  font-size: 24px;
  align-self: center;
}
.bow-gameb-container4 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.bow-gameb-text05 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.bow-gameb-iframe {
  width: 640px;
  height: 385px;
}
.bow-gameb-container5 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.bow-gameb-text06 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.bow-gameb-text07 {
  width: auto;
  font-size: 24px;
  align-self: center;
}
.bow-gameb-text08 {
  font-weight: 700;
}
.bow-gameb-text12 {
  font-weight: 700;
}



@media(max-width: 479px) {
  .bow-gameb-text {
    height: auto;
  }
  .bow-gameb-text05 {
    height: auto;
  }
  .bow-gameb-text06 {
    height: auto;
  }
}
