.bow-gameb-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.bow-gameb-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 1;
  width: inherit;
  display: inherit;
  align-self: inherit;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.bow-gameb-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.bow-gameb-container3 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.bow-gameb-container4 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.bow-gameb-text {
  color: var(--dl-color-gray-700);
  font-size: 30px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Nunito;
  font-weight: 900;
}
.bow-gameb-text01 {
  font-size: 18px;
  align-self: flex-start;
  font-style: italic;
  font-weight: 400;
}
.bow-gameb-text02 {
  font-size: 18px;
  align-self: flex-start;
  text-align: left;
}
.bow-gameb-text03 {
  font-size: 24px;
  align-self: flex-start;
  text-align: left;
}
.bow-gameb-text04 {
  font-size: 18px;
  align-self: flex-start;
}
.bow-gameb-container5 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.bow-gameb-iframe {
  width: 480px;
  height: 300px;
}

