<div>
  <link href="./connectivia.css" rel="stylesheet" />
  <div class="connectivia-blog-post-card">
    <div class="connectivia-container">
      <span class="connectivia-text"><span>Crop Prediction Model</span></span>
      <span class="connectivia-text1">
        <span>Python, Tensorflow, MongoDB, Docker</span>
      </span>
      <span class="connectivia-text2">
        <span>
          Trained a machine learning model to predict optimal crop selections
          for climate using Python's Tensorflow library with data stored and
          retrieved from a MongoDB database. Virtualized machine learning model
          to run on Ubuntu-based edge devices using Docker.
        </span>
      </span>
    </div>
  </div>
</div>
