<div>
  <link href="./gesturedrawing.css" rel="stylesheet" />
  <div class="gesturedrawing-blog-post-card">
    <div class="gesturedrawing-container">
      <span class="gesturedrawing-text">
        <span>Gesture Drawing Grader</span>
      </span>
      <span class="gesturedrawing-text1">
        <span>Python, OpenCV, SKLearn</span>
      </span>
      <span class="gesturedrawing-text2">
        <span>
          With a pre-trained deep learning model, we developed a system that
          would compare the similarity between a reference image and a user's
          drawing. 25 human body landmarks were compared with the gesture
          drawing using a cosine similarity algorithm, calculating a "grade" for
          the pose accuracy.
        </span>
      </span>
      <div class="gesturedrawing-container1">
        <a
          href="https://github.com/prathiksrinivasan/GestureDrawingGrader_CVs22"
          target="_blank"
          rel="noreferrer noopener"
          class="gesturedrawing-link"
        >
          <img
            alt="image"
            src="public/25231-200h.png"
            class="gesturedrawing-image"
          />
        </a>
      </div>
    </div>
  </div>
</div>
