<div>
  <link href="./imagesegmentation.css" rel="stylesheet" />
  <div class="imagesegmentation-blog-post-card">
    <div class="imagesegmentation-container">
      <span class="imagesegmentation-text">
        <span>Segmentation Model for Edge Devices</span>
      </span>
      <span class="imagesegmentation-text1"><span>Python, PyTorch</span></span>
      <span class="imagesegmentation-text2">
        <span>
          Optimization techniques including pruning and quantization were
          applied to a ResNet image segmentation model to maximize efficiency.
          Model maintained 85% accuracy on the Cifar-10 image dataset with
          massive improvements in prediction latency and energy consumption when
          deployed on Raspberry Pi.
        </span>
      </span>
      <div class="imagesegmentation-container1">
        <a
          href="https://github.com/prathiksrinivasan/ResNetOptimization"
          target="_blank"
          rel="noreferrer noopener"
          class="imagesegmentation-link"
        >
          <img
            alt="image"
            src="public/25231-200h.png"
            class="imagesegmentation-image"
          />
        </a>
      </div>
    </div>
  </div>
</div>
