<div>
  <link href="./lab-echo.css" rel="stylesheet" />
  <div class="lab-echo-container">
    <div class="lab-echo-container1">
      <h1 class="lab-echo-text"><span>Lab Echo</span></h1>
      <h2 class="lab-echo-text1"><span>VR Narrative Puzzle Game</span></h2>
      <img
        alt="image"
        src="https://media.discordapp.net/attachments/705948050144886795/1144822025614012516/Lab_Echo__Launch_Trailer.gif?width=650&amp;height=366"
        class="lab-echo-image"
      />
    </div>
  </div>
</div>
