<div>
  <link href="./lab-echob.css" rel="stylesheet" />
  <div class="lab-echob-container">
    <div class="lab-echob-container1">
      <div class="lab-echob-container2">
        <div class="lab-echob-container3">
          <div class="lab-echob-container4">
            <h1 class="lab-echob-text"><span>Lab Echo</span></h1>
            <span class="lab-echob-text01">
              <span>Unreal Engine 5, Blueprints, C++</span>
            </span>
            <span class="lab-echob-text02">
              <span>
                Lab Echo is a narrative-focused adventure and puzzle solving
                game, where players are tasked with solving the mystery behind
                the abandoned lab they find themselves in. This project was
                created over the course of 4 months as a capstone project, with
                a team of 7.
              </span>
            </span>
            <h2 class="lab-echob-text03">
              <span>Project Responsibilities</span>
            </h2>
            <span class="lab-echob-text04">
              <span>
                - Conceptualized and refined overall game design and mechanics,
                including secondary puzzle system
              </span>
              <br />
              <span>- Developed level layouts and puzzle structure</span>
              <br />
              <span>
                - Conducted playtests and refined content based on feedback and
                observations
              </span>
              <br />
              <span>
                - Created game narrative and integrated with puzzle elements
              </span>
              <br />
              <span>- Created game trailer</span>
              <br />
            </span>
            <a
              href="https://spooncats.itch.io/lab-echo"
              target="_blank"
              rel="noreferrer noopener"
              class="lab-echob-link"
            >
              <img
                alt="image"
                src="public/itchio-textless-white.svg"
                class="lab-echob-image"
              />
            </a>
          </div>
        </div>
        <div class="lab-echob-container5">
          <iframe
            src="https://www.youtube.com/embed/fK8v4-n66fE?si=IxZ2NYMg0986KqES"
            allowfullscreen
            class="lab-echob-iframe"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
