<div>
  <link href="./lab-echo.css" rel="stylesheet" />
  <div class="lab-echo-container">
    <div class="lab-echo-container1">
      <h1 class="lab-echo-text"><span>Lab Echo</span></h1>
      <h2 class="lab-echo-text1"><span>VR Narrative Puzzle Game</span></h2>
      <img
        alt="image"
        src="https://media.discordapp.net/attachments/705948050144886795/1145533433829933138/ezgif.com-crop_2.gif?width=650&amp;height=365"
        class="lab-echo-image"
      />
    </div>
  </div>
</div>
