<div>
  <link href="./only-grabsb.css" rel="stylesheet" />
  <div class="only-grabsb-container">
    <div class="only-grabsb-container1">
      <div class="only-grabsb-container2">
        <div class="only-grabsb-container3">
          <div class="only-grabsb-container4">
            <h1 class="only-grabsb-text"><span>OnlyGrabs</span></h1>
            <span class="only-grabsb-text01"><span>Unity, C#</span></span>
            <span class="only-grabsb-text02">
              <span>
                OnlyGrabs is a 1v1 simple 2D fighting game. Themed around
                wrestling, players can use a combination of grabs, lunges, and
                dodges to predict and outplay their opponent. This prototype was
                solo-developed in 2 weeks.
              </span>
            </span>
            <h2 class="only-grabsb-text03"><span>Key Takeaways</span></h2>
            <span class="only-grabsb-text04">
              <span>
                - Gained experience in designing and developing a 1v1 combat
                system from scratch
              </span>
              <br />
              <span>
                - Learned how to design collision and hitboxes to make
                interactions feel fair and responsive
              </span>
              <br />
              <span>
                - Managed &apos;frame data&apos; and timing of moves to balance
                combat system
              </span>
              <br />
            </span>
            <a
              href="https://spooncats.itch.io/onlygrabs"
              target="_blank"
              rel="noreferrer noopener"
              class="only-grabsb-link"
            >
              <img
                alt="image"
                src="public/itchio-textless-white.svg"
                class="only-grabsb-image"
              />
            </a>
          </div>
        </div>
        <div class="only-grabsb-container5">
          <div class="only-grabsb-container6">
            <iframe
              src="https://www.youtube.com/embed/PmFPMAdWyBk?si=LL2PLBFK-te0tbDO"
              allowfullscreen
              class="only-grabsb-iframe"
            ></iframe>
            <div class="only-grabsb-container7">
              <img
                src="public/Gamestuff/OnlyGrabs/editor-200h.png"
                alt="image"
                class="only-grabsb-image1"
              />
              <span><span>Hitbox and hurtbox editor</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
