.only-grabsb-container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.only-grabsb-container01 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-tenunits);
  flex-direction: column;
}
.only-grabsb-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.only-grabsb-text {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 64px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.only-grabsb-text01 {
  font-size: 18px;
  align-self: center;
  font-weight: 700;
}
.only-grabsb-container03 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.only-grabsb-text02 {
  font-size: 24px;
  align-self: center;
}
.only-grabsb-container04 {
  gap: var(--dl-space-space-tenunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.only-grabsb-iframe {
  width: 560px;
  height: 340px;
}
.only-grabsb-container05 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.only-grabsb-text05 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.only-grabsb-container06 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  justify-content: center;
}
.only-grabsb-container07 {
  flex: 0 0 auto;
  width: 120px;
  height: 120px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.only-grabsb-link {
  display: contents;
}
.only-grabsb-image {
  width: 100px;
  align-self: center;
  object-fit: cover;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.only-grabsb-text06 {
  align-self: center;
  text-align: center;
}
.only-grabsb-container08 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.only-grabsb-text07 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.only-grabsb-text08 {
  width: auto;
  font-size: 24px;
  align-self: center;
}
.only-grabsb-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.only-grabsb-container10 {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.only-grabsb-text11 {
  font-size: 24px;
  align-self: center;
}
.only-grabsb-container11 {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.only-grabsb-image1 {
  width: 100%;
  align-self: center;
  object-fit: cover;
}
.only-grabsb-text19 {
  align-self: center;
}
.only-grabsb-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.only-grabsb-container13 {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.only-grabsb-image2 {
  width: 100%;
  align-self: center;
  object-fit: cover;
}
.only-grabsb-text22 {
  align-self: center;
}
.only-grabsb-container14 {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.only-grabsb-text25 {
  font-size: 24px;
  align-self: center;
}
.only-grabsb-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.only-grabsb-container16 {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.only-grabsb-text31 {
  font-size: 24px;
  align-self: center;
}
.only-grabsb-container17 {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.only-grabsb-image3 {
  width: 100%;
  align-self: center;
  object-fit: cover;
}
.only-grabsb-text36 {
  align-self: center;
}
.only-grabsb-container18 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.only-grabsb-text40 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.only-grabsb-text43 {
  width: auto;
  font-size: 24px;
  align-self: center;
}
.only-grabsb-root-class-name {
  flex: 1;
  width: auto;
  height: auto;
}


@media(max-width: 479px) {
  .only-grabsb-text {
    height: auto;
  }
  .only-grabsb-text05 {
    height: auto;
  }
  .only-grabsb-text07 {
    height: auto;
  }
  .only-grabsb-text40 {
    height: auto;
  }
}
