<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Portfolio Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Arial;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.55;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./only-grabsb.css" rel="stylesheet" />
      <div class="only-grabsb-container">
        <div class="only-grabsb-container01">
          <div class="only-grabsb-container02">
            <h1 class="only-grabsb-text"><span>OnlyGrabs</span></h1>
            <span class="only-grabsb-text01">
              <span>Solo-Developed Project</span>
            </span>
          </div>
          <div class="only-grabsb-container03">
            <span class="only-grabsb-text02">
              <span>
                <span>
                  OnlyGrabs is a prototype of a wrestling-themed fighting game
                  that I created in Unity using C# and the Universal Fighting
                  Game Engine. This was my first exploration into fighting game
                  development, and within two weeks I was able to design and
                  implement the moveset of singular character, including
                  movement, frame data, and damage amounts.
                </span>
              </span>
              <br />
            </span>
          </div>
          <div class="only-grabsb-container04">
            <iframe
              src="https://www.youtube.com/embed/PmFPMAdWyBk?si=SocYSaomNjohvaDM"
              class="only-grabsb-iframe"
            ></iframe>
            <div class="only-grabsb-container05">
              <h1 class="only-grabsb-text05"><span>Gameplay Video</span></h1>
              <div class="only-grabsb-container06">
                <div class="only-grabsb-container07">
                  <a
                    href="https://spooncats.itch.io/onlygrabs"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="only-grabsb-link"
                  >
                    <img
                      alt="image"
                      src="public/itchio-textless-white.svg"
                      class="only-grabsb-image"
                    />
                  </a>
                </div>
                <span class="only-grabsb-text06">
                  <span>Play on itch.io!</span>
                </span>
              </div>
            </div>
          </div>
          <div class="only-grabsb-container08">
            <h1 class="only-grabsb-text07"><span>Project Devlog</span></h1>
            <span class="only-grabsb-text08">
              <span>
                <span>
                  This was a solo project created as a final for my 'Game
                  Prototyping' course. My initial idea was for a fighting game
                  focused specifically around grabs, without strikes of any
                  type. To minimize the amount of technical work and focus
                  mostly on design, I made use of a fighting game framework for
                  Unity.
                </span>
              </span>
              <br />
            </span>
          </div>
          <div class="only-grabsb-container09">
            <div class="only-grabsb-container10">
              <span class="only-grabsb-text11">
                <span>
                  <span>
                    In traditional fighting games, throws complete the
                    rock-paper-scissors system, defeating an opponent's blocking
                    defense against strikes.
                  </span>
                </span>
                <br />
                <br />
                <span>
                  <span>
                    In the absence of strikes, there was no need for blocking
                    either, so I instead devised a system that would revolve
                    around grabs and dodges.
                  </span>
                </span>
                <br />
                <br />
                <span>
                  <span>
                    Players would move back and forth to bait and punish grab
                    attempts with a dodge or roll.
                  </span>
                </span>
              </span>
            </div>
            <div class="only-grabsb-container11">
              <img
                alt="image"
                src="https://media.discordapp.net/attachments/705948050144886795/1156034296662990889/ij9poKx5sblzdgbCrad1wYCSTPMESnysEhtGQYHyVy1tKDl7s8pWj-78HbURAwehIaaUbBwpadN4PoByWwT3UOQqoY4uVHkxmytkrkfu8c1LCI7z-n_b1JVRZfudDvK4cQw1280.png?ex=65138056&amp;is=65122ed6&amp;hm=e82ced463711bfc477115768c775857ead324818bef634e714c8f9df5eebc02f&amp;=&amp;width=722&amp;height=575"
                class="only-grabsb-image1"
              />
              <span class="only-grabsb-text19">
                <span><span>Player moveset concept</span></span>
                <br />
              </span>
            </div>
          </div>
          <div class="only-grabsb-container12">
            <div class="only-grabsb-container13">
              <img
                alt="image"
                src="https://media.discordapp.net/attachments/705948050144886795/1156034883437740052/JR3oG-jOn5ziFbO245fTFk2GsTpJk6agx_506gtNDxMsCCF5fdbX4mhNrCJNdpDWsNdgzwdtElkMOR-_NtmSUyy5Es9T30vdxoBRe_KQ5YiGPzWYIsExbwhdoRWjC1T6zAw1280.png?ex=651380e2&amp;is=65122f62&amp;hm=eb787ae8c52eecf1253afb7b41fb3059e7e9343b7442cb3282269def2bebf1a3&amp;=&amp;width=788&amp;height=575"
                class="only-grabsb-image2"
              />
              <span class="only-grabsb-text22">
                <span><span>UFE2 hitbox editor</span></span>
                <br />
              </span>
            </div>
            <div class="only-grabsb-container14">
              <span class="only-grabsb-text25">
                <span>
                  <span>
                    Using the UFE move editor I created the move's hitboxes and
                    hurtboxes. It also allowed me to modify the startup and
                    recovery frames, as well as the knockback.
                  </span>
                </span>
                <br />
                <br />
                <span>
                  <span>
                    An interesting quirk of the system was that throughout the
                    duration of the throw, an opposing throw would 'tech' it to
                    cancel it out. I created a unique throw whiff system to
                    allow missed throws to be punished.
                  </span>
                </span>
                <br />
              </span>
            </div>
          </div>
          <div class="only-grabsb-container15">
            <div class="only-grabsb-container16">
              <span class="only-grabsb-text31">
                <span>
                  <span>
                    When testing and adjusting the moves in the game, I found it
                    helpful to keep track of their frame data in a table,
                    similar to the information tables found on fighting game
                    wikis like Dustloop or Mizuumi.
                  </span>
                </span>
                <br />
                <br />
                <span>
                  <span>
                    I also kept track of previous iterations of certain moves
                    and notes on their specific requirements
                  </span>
                </span>
              </span>
            </div>
            <div class="only-grabsb-container17">
              <img
                alt="image"
                src="https://media.discordapp.net/attachments/705948050144886795/1156036986549829734/DW9c35o6fZge327wUvEjYoEhWP6Y4UOULyJM23gQp3NfG2s6YXI6KBynNGSGJ5TXsdUmRSGjVrO32KmGIqDzolqAPtPAq4KV7yPQ3tMrwU6BTKCyNXqpk3F9sDS6xxgQ3Aw1280.png?ex=651382d7&amp;is=65123157&amp;hm=dd31728acb540a14b6b4fe8c866993feded0cca2872fcb1380d1da0eb21e447b&amp;=&amp;width=623&amp;height=575"
                class="only-grabsb-image3"
              />
              <span class="only-grabsb-text36">
                <span><span>Frame data table</span></span>
                <br />
                <br />
              </span>
            </div>
          </div>
          <div class="only-grabsb-container18">
            <h1 class="only-grabsb-text40">
              <span><span>Lessons Learned</span></span>
              <br />
            </h1>
            <span class="only-grabsb-text43">
              <span>
                <span>
                  • Games that rely on precise spacing and limited movement need
                  accurate hitboxes to make combat feel "fair"&nbsp;
                </span>
              </span>
              <br />
              <br />
              <span>
                <span>
                  • Movement options that are intended to be 'unreactable' have
                  to take into account travel time as well as frame data
                </span>
              </span>
              <br />
              <br />
              <span>
                <span>
                  • Even if grabs and throws are thematically important to a
                  wrestling theme, it's more representative of the grappler
                  playstyle to create mixups between strikes and throws and go
                  for hard reads with big rewards
                </span>
              </span>
              <br />
            </span>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
  </body>
</html>
