<div>
  <link href="./posetransfer.css" rel="stylesheet" />
  <div class="posetransfer-blog-post-card">
    <div class="posetransfer-container">
      <span class="posetransfer-text">
        <span>Generative Pose Transfer Models</span>
      </span>
      <span class="posetransfer-text1">
        <span>Python, PyTorch, Stable Diffusion</span>
      </span>
      <span class="posetransfer-text2">
        <span>
          An exploration of training multiple different generative image models
          to create sprite sheet animations using a photo of a person as a
          source image. I tried both a GAN model created in PyTorch and a stable
          diffusion model that was fine-tuned on source images.
        </span>
      </span>
      <div class="posetransfer-container1">
        <a
          href="https://youtu.be/KOInxNK26qc"
          target="_blank"
          rel="noreferrer noopener"
          class="posetransfer-link"
        >
          <img
            alt="image"
            src="public/717426-200h.png"
            class="posetransfer-image"
          />
        </a>
        <a
          href="https://github.com/prathiksrinivasan/PoseTransferExploration"
          target="_blank"
          rel="noreferrer noopener"
          class="posetransfer-link1"
        >
          <img
            alt="image"
            src="public/25231-200h.png"
            class="posetransfer-image1"
          />
        </a>
      </div>
    </div>
  </div>
</div>
