<div>
  <link href="./rush-rush-vrb.css" rel="stylesheet" />
  <div class="rush-rush-vrb-container">
    <div class="rush-rush-vrb-container1">
      <div class="rush-rush-vrb-container2">
        <div class="rush-rush-vrb-container3">
          <div class="rush-rush-vrb-container4">
            <h1 class="rush-rush-vrb-text"><span>RushRushVR</span></h1>
            <span class="rush-rush-vrb-text01">
              <span>Unity, C#, Oculus VR SDK</span>
            </span>
            <span class="rush-rush-vrb-text02">
              <span>
                RushRushVR is a collection of VR microgames, with gameplay
                inspired by titles such as WarioWare. Players rapidly cycle
                between scenes with simple tasks to complete, but with a quickly
                decreasing timer putting pressure on them. This project was
                created in about 6 weeks as a team of 5 developers.
              </span>
            </span>
            <h2 class="rush-rush-vrb-text03">
              <span>Project Responsibilities</span>
            </h2>
            <span class="rush-rush-vrb-text04">
              <span>
                - Conceptualized overall game design and flow, as well as
                several microgame designs
              </span>
              <br />
              <span>
                - Developed interactions, game flow, and level layout for
                &apos;Bug Catcher&apos; microgame
              </span>
              <br />
              <span>
                - Developed interactions, game flow, and level layout for
                &apos;Ice Cream Stack&apos; microgame
              </span>
              <br />
            </span>
            <a
              href="https://spooncats.itch.io/rushrushvr"
              target="_blank"
              rel="noreferrer noopener"
              class="rush-rush-vrb-link"
            >
              <img
                alt="image"
                src="public/itchio-textless-white.svg"
                class="rush-rush-vrb-image"
              />
            </a>
          </div>
        </div>
        <div class="rush-rush-vrb-container5">
          <iframe
            src="https://www.youtube.com/embed/s41gW0tTUGs?si=-l8K-fp0MiyNQcqd"
            allowfullscreen
            class="rush-rush-vrb-iframe"
          ></iframe>
          <img
            alt="image"
            src="public/Gamestuff/RushRushVR/image%20(3)-400h.png"
            class="rush-rush-vrb-image1"
          />
        </div>
      </div>
    </div>
  </div>
</div>
