<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Portfolio Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Arial;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.55;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./rush-rush-vrb.css" rel="stylesheet" />
      <div class="rush-rush-vrb-container">
        <div class="rush-rush-vrb-container01">
          <div class="rush-rush-vrb-container02">
            <h1 class="rush-rush-vrb-text"><span>RushRushVR</span></h1>
            <span class="rush-rush-vrb-text01">
              <span>Project Roles: Game Designer, Gameplay Programmer</span>
            </span>
          </div>
          <div class="rush-rush-vrb-container03">
            <span class="rush-rush-vrb-text02">
              <span>
                <span>
                  RushRushVR is a collection of VR Microgames, inspired by games
                  such as WarioWare and Rhythm Heaven. This was a 6-week project
                  created in Unity using C# and the XR Interaction toolkit.
                  Working with a team of 4 other developers, we were each
                  responsible for 2 specific microgames in their entirety,
                  including design, asset creation, and implementation.
                </span>
              </span>
              <br />
            </span>
          </div>
          <div class="rush-rush-vrb-container04">
            <iframe
              src="https://www.youtube.com/embed/s41gW0tTUGs?si=-l8K-fp0MiyNQcqd"
              class="rush-rush-vrb-iframe"
            ></iframe>
            <div class="rush-rush-vrb-container05">
              <h1 class="rush-rush-vrb-text05"><span>Gameplay Video</span></h1>
              <div class="rush-rush-vrb-container06">
                <div class="rush-rush-vrb-container07">
                  <a
                    href="https://spooncats.itch.io/rushrushvr"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="rush-rush-vrb-link"
                  >
                    <img
                      alt="image"
                      src="public/itchio-textless-white.svg"
                      class="rush-rush-vrb-image"
                    />
                  </a>
                </div>
                <span class="rush-rush-vrb-text06">
                  <span>Download on itch.io!</span>
                </span>
              </div>
            </div>
          </div>
          <div class="rush-rush-vrb-container08">
            <h1 class="rush-rush-vrb-text07">
              <span>Project Responsibilities</span>
            </h1>
            <span class="rush-rush-vrb-text08">
              <span class="rush-rush-vrb-text09">
                <span>System Design</span>
              </span>
              <span>
                <span>
                  - I was responsible for the overall core design of the game
                  and it's general mechanics. I recognized during a
                  brainstorming session that there was an open niche for this
                  type of game in the VR space, and that arcade-type score
                  challenges are a good fit for VR.
                </span>
              </span>
              <br />
              <br />
              <span class="rush-rush-vrb-text13">
                <span>Level Design</span>
              </span>
              <span><span>&nbsp;</span></span>
              <span class="rush-rush-vrb-text15">
                <span>and Gameplay Programming</span>
              </span>
              <span>
                <span>
                  - I created the "Bug Catcher" microgame, using a simple
                  collection of interactions and combining them with a custom
                  behavior pattern created for the bugs' movements.&nbsp;
                </span>
              </span>
              <br />
              <br />
              <span class="rush-rush-vrb-text19">
                <span>Level Design&nbsp;and Gameplay Programming</span>
              </span>
              <span>
                <span>
                  - I created the "Ice Cream Match" microgame, iterating on a
                  very simple interaction by adding pattern recognition as an
                  inherent mechanic to change the gameplay.
                </span>
              </span>
              <br />
            </span>
          </div>
          <div class="rush-rush-vrb-container09">
            <div class="rush-rush-vrb-container10">
              <img
                alt="image"
                src="https://media.discordapp.net/attachments/705948050144886795/1144780583189356624/image.png?width=958&amp;height=552"
                class="rush-rush-vrb-image1"
              />
              <span class="rush-rush-vrb-text22">
                <span>Bug Catcher Microgame</span>
              </span>
            </div>
            <div class="rush-rush-vrb-container11">
              <img
                alt="image"
                src="https://media.discordapp.net/attachments/705948050144886795/1152685215320387726/image.png?width=958&amp;height=552"
                class="rush-rush-vrb-image2"
              />
              <span class="rush-rush-vrb-text23">
                <span>Ice Cream Match Microgame</span>
              </span>
            </div>
          </div>
          <div class="rush-rush-vrb-container12">
            <h1 class="rush-rush-vrb-text24">
              <span>Feedback and Design Changes</span>
            </h1>
            <span class="rush-rush-vrb-text25">
              <span>
                <span>
                  • The ice cream microgame originally had the "target cone" in
                  the left hand and the sequence of flavors falling from the
                  ceiling was fully random. Based on playtesting and feedback
                  about clarity, I made the target cone more clear and made the
                  falling scoops pseudo-random, to guarantee that the player
                  would not lose from RNG.
                </span>
              </span>
              <br />
              <br />
              <span>
                <span>
                  • The bugs in the bug catcher microgame originally flew in a
                  fully random, erratic pattern that would sometimes draw them
                  too far from the player. To resolve this, I adjusted their
                  pattern to follow a sin wave while circling the player,
                  randomizing the directions, speed, and starting positions to
                  retain some uniqueness on each attempt.
                </span>
              </span>
              <br />
            </span>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
  </body>
</html>
