<div>
  <link href="./tbdne.css" rel="stylesheet" />
  <div class="tbdne-blog-post-card">
    <div class="tbdne-container">
      <span class="tbdne-text"><span>'TBDNE' Web Game</span></span>
      <span class="tbdne-text1">
        <span>Unity, Google Firebase, C#, Javascript</span>
      </span>
      <span class="tbdne-text2">
        <span>
          A progressive web-based puzzle game where users attempt to distinguish
          between real and AI-generated images. I was responsible for front-end
          design as well as creating and integrating a Google Firebase database
          to collect and analyze game metrics to improve the puzzle generation
          model.
        </span>
      </span>
      <div class="tbdne-container1">
        <a
          href="https://www.tbdne.com/"
          target="_blank"
          rel="noreferrer noopener"
          class="tbdne-link"
        >
          <img
            alt="image"
            src="public/pngwing.com%20(2)%20(1)-200h.png"
            class="tbdne-image"
          />
        </a>
      </div>
    </div>
  </div>
</div>
