.tbdne2b-container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.tbdne2b-container01 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 80%;
  margin: 0px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-tenunits);
  flex-direction: column;
}
.tbdne2b-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tbdne2b-text {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 64px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
}
.tbdne2b-text01 {
  font-size: 18px;
  align-self: center;
  font-weight: 700;
}
.tbdne2b-container03 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.tbdne2b-text02 {
  font-size: 24px;
  align-self: center;
}
.tbdne2b-image {
  width: 300px;
  height: 300px;
  align-self: center;
  object-fit: cover;
}
.tbdne2b-container04 {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tbdne2b-text05 {
  width: auto;
  font-size: 24px;
  align-self: center;
}
.tbdne2b-container05 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  justify-content: center;
}
.tbdne2b-container06 {
  flex: 0 0 auto;
  width: 120px;
  height: 120px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.tbdne2b-link {
  display: contents;
}
.tbdne2b-image1 {
  width: 100px;
  align-self: center;
  object-fit: cover;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.tbdne2b-text08 {
  align-self: center;
  text-align: center;
}
.tbdne2b-container07 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.tbdne2b-text09 {
  color: var(--dl-color-gray-700);
  width: auto;
  height: auto;
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.tbdne2b-text10 {
  width: auto;
  font-size: 24px;
  align-self: center;
}
.tbdne2b-text11 {
  font-weight: 700;
}
.tbdne2b-text15 {
  font-weight: 700;
}
.tbdne2b-text19 {
  font-weight: 700;
}
.tbdne2b-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.tbdne2b-container09 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.tbdne2b-image2 {
  width: auto;
  height: 400px;
  align-self: center;
  object-fit: cover;
}
.tbdne2b-text22 {
  align-self: center;
}
.tbdne2b-container10 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.tbdne2b-image3 {
  width: auto;
  height: 400px;
  align-self: center;
  object-fit: cover;
}
.tbdne2b-text25 {
  align-self: center;
}


@media(max-width: 479px) {
  .tbdne2b-text {
    height: auto;
  }
  .tbdne2b-text09 {
    height: auto;
  }
}
