<div>
  <link href="./tbdne2b.css" rel="stylesheet" />
  <div class="tbdne2b-container">
    <div class="tbdne2b-container1">
      <div class="tbdne2b-container2">
        <div class="tbdne2b-container3">
          <div class="tbdne2b-container4">
            <h1 class="tbdne2b-text">
              <span>'This (Blank) Does Not Exist'</span>
            </h1>
            <span class="tbdne2b-text01">
              <span>Unity, C#, JavaScript, Google Firebase</span>
            </span>
            <span class="tbdne2b-text02">
              <span>
                TBDNE, or 'This (Blank) Does Not Exist', is a wordle-esque daily
                puzzle game where players try to distinguish between real and
                AI-generated photos. This was created during my Summer 2023
                internship at Retora Games with a team of 2 developers and 1
                designer.
              </span>
            </span>
            <h2 class="tbdne2b-text03">
              <span>Project Responsibilities</span>
            </h2>
            <span class="tbdne2b-text04">
              <span>
                - Created back-end Firebase database for game metrics collection
                and game data analysis
              </span>
              <br />
              <span>
                - Integrated Firebase back-end with live website using
                JavaScript API
              </span>
              <br />
              <span>
                - Developed locally stored player statistics page for
                personalization
              </span>
              <br />
              <span>- Contributed to UI/UX design</span>
              <br />
            </span>
            <a
              href="https://www.tbdne.com/"
              target="_blank"
              rel="noreferrer noopener"
              class="tbdne2b-link"
            >
              <img
                alt="image"
                src="public/pngwing.com%20(2)%20(1)-200h.png"
                class="tbdne2b-image"
              />
            </a>
          </div>
        </div>
        <div class="tbdne2b-container5">
          <img
            alt="image"
            src="public/Gamestuff/TBDNE/gameplay1-300h.gif"
            class="tbdne2b-image1"
          />
          <div class="tbdne2b-container6">
            <img
              alt="image"
              src="public/Gamestuff/TBDNE/databasestructure-300h.png"
              class="tbdne2b-image2"
            />
            <span class="tbdne2b-text13">
              <span>Database design mockup</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
