<div>
  <link href="./workoutbuddy.css" rel="stylesheet" />
  <div class="workoutbuddy-blog-post-card">
    <div class="workoutbuddy-container">
      <span class="workoutbuddy-text">
        <span>'Workout Buddy' Android Application</span>
      </span>
      <span class="workoutbuddy-text1">
        <span>Java, Kotlin, Android Studio</span>
      </span>
      <span class="workoutbuddy-text2">
        <span>
          Used Android Studio to design and develop an Android application that
          would track exercise metrics and incentivise users with social
          gamification elements. Created custom layout and developed front-end
          widgets, animations, and UI elements with Java and Kotlin.
        </span>
      </span>
    </div>
  </div>
</div>
